.THIS .teamSelect{
    
    display : inline-block;
}

.THIS .new-activity{
    
	margin-right : 5px;
}

.THIS .calendarSelector{
    
	top : -2px;
}

.THIS .calendarSelector button{
    
    height : 20px;
    width : 20px;
}

.THIS .calendarSelector ul{
    
    max-height: 500px;
    overflow: auto;
}

.THIS .header-button{
    
    height : 32px;
}

.THIS .header-button svg{
    
    margin : 0;
}