.THIS .hidden-button button{
    
    display:none;
}

.THIS .outsideWH{
    
    background-color: rgba(255, 255, 180, .4);
}

.THIS .dayHeader{
    
    font-weight : bold; 
    font-size : 14px; 
    text-align : center;
    
}

.THIS #pickDate div input{
	color : white;    
    width : 24px;
    padding : 0;
    min-height : 0;
    line-height : normal;
    height : 16px;
    border : none;
    cursor : pointer;
}

.THIS #pickDate div lightning-button-icon{
	
    width: 16px;	 
    right : 0px;
    top : 45%;
}