.THIS .slds-form-element__label{
    
    font-weight : bold;
    font-size : 15px !important;
}

.THIS .input-date-time lightning-datepicker label{
    display: none !important;
}

.THIS .input-date{
    width : 190px;
}

.THIS .comment-area{
    
    display: block;
    color: rgb(191, 121, 46)!important;
    font-size: .8125rem!important;
    line-height: 30px;
    min-height: 32px;
}

.THIS lightning-timepicker input[readonly]{
    border-style: none !important;
}

.THIS lightning-timepicker input[readonly] + div{
    display: none !important;
}

.THIS lightning-datepicker input[readonly] + lightning-button-icon{
    display: none !important;
}

.THIS .input-date-time lightning-timepicker label{
    display: none !important;
}

.THIS input{
    
    color : rgb(191, 121, 46) !important;
    font-size : .8125rem  !important;
}

.THIS textarea{
    
    color : rgb(191, 121, 46) !important;
}

.THIS select{
    
    color : rgb(191, 121, 46) !important;
}

.THIS error-container{
    
      
}

.THIS .layout-loading{
    
    position:relative;
}

.THIS .button-left{
    
    float:left;
}

.THIS .button-right{
    
    float:right;
}

.THIS .button-center{
    
    position : absolute;
    left : 47%;    
}

.THIS .formatted-datetime{
    
    display : inline-block;
    color : rgb(191, 121, 46);
    font-size : .8125rem;
}

.THIS .inline-input{
    
    display : inline-block;    
}

.THIS .input-comment-area textarea{
    
    min-height: 60px;
}

.THIS .selected-contact{
    
    width : 100%;
    background-color : rgb(255, 255, 255) !important;
    color : rgb(191, 121, 46)!important;
}

.THIS .attendee-action{
    
    display : inline-block;
    cursor : pointer;
    text-decoration : underline;
    color : blue;
    margin-right : 5px;
    margin-left : 5px;
    
}

.THIS .input-select-inline{
    
    display : inline-block;
}

.THIS .input-inline{
    
    display : inline-block;
}

.THIS .recurring-layout{
    
    margin-top : 10px;
}

.THIS .layout-centered{
    
    text-align : center;
}

.THIS .day-checkbox .slds-checkbox_faux{
    
    margin-right : 3px !important;
}

.THIS .warning-icon svg{
    
    fill : #f90;
}