.THIS .input-number input{
    
    padding-right : 4px;
    padding-left : 4px;
}

.THIS .status-checked svg{
    
    fill : green;
}

.THIS .status-unchecked svg{
    
    fill : lightgray;
}

.THIS .warning-icon-inline{
    
    margin-right : 5px;
}

.THIS .warning-icon-inline svg{
    
    fill : rgb(255, 138, 36);
}

.THIS .warning-icon{
    
    position: absolute;
    right: 2px;
    top: -50%;
}

.THIS .warning-icon svg{
    
    fill : rgb(255, 138, 36);
}

.THIS .user-step svg{
    
    filter : drop-shadow(0px 0px 2px rgb(172, 172, 172));
}