.THIS .hidden-button button{
    
    display:none;
}

.THIS .dayHeader{
    
    font-weight : bold; 
    font-size : 14px; 
    text-align : center;
    display : inline-block;
}

.THIS #pickDate div input{
	color : white;    
    width : 24px;
    padding : 0;
    min-height : 0;
    line-height : normal;
    height : 16px;
    border : none;
    cursor : pointer;
}

.THIS #pickDate div lightning-button-icon{
	
    width: 16px;	 
    right : 0px;
    top : 45%;
}

.THIS .member-label{
    
    font-weight : bold;
    font-size : 0.8rem;
    padding-left:5px;    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.THIS .unassigned-pending{
    
    background-color : rgb(255, 143, 143);
}

.THIS .unassigned-clear{
    
    background-color : rgb(176, 245, 195);
}


.THIS .row-even{
    
    background-color : rgb(240, 240, 240);
}

.THIS .row-odd{
    
    background-color : rgb(253, 253, 253);
}

.THIS .last-row{
    
    /*border-bottom-style : solid;
    border-bottom-width:1px;*/
    border-top-style : solid;
    border-top-width:1px;    
}

.THIS .row{
    
    border-top-style : solid;
    border-top-width:1px;
}

.THIS .column-full{
    
    border-left-style: dashed;
    border-left-width: 1px;
    border-left-color:rgba(181, 181, 181, 0.5);
    
}

.THIS .column-full-marker{
    
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color:rgba(181, 181, 181, 0.5);    
}

.THIS .last-day-column-full{
        
    border-right-style: solid;border-right-width: 2px;    
}

.THIS .calendar-table{
        
    width : auto;
}

.THIS .outsite-working-hours{
    
    background-color: rgba(255, 255, 180, .4);
}