.THIS label.slds-form-element__label{
    
    font-weight : bold;
    font-size : 14px !important;
}

.THIS legend.slds-form-element__label{
    
    font-weight : bold;
    font-size : 14px !important;
}