.THIS .pill-item-size{
    width : 100%;
    background-color : rgba(148, 189, 255, 0.2) !important;
}

.THIS .input-container {
    width : 100%;
    border-style : none;
}

.THIS .pill-container{    
    width : 100%;
}

.THIS .pill-container button{
    right: .3rem !important;
}

.THIS .no-label label{    
    display : none;
}

.THIS .slds-pill__action{    
    padding: 0 1.5rem 0 .5rem !important;
    line-height : 30px;
}

.THIS .search-input input{
    
    border-radius : 4px !important;
}

.THIS .lookup-container{
    
    min-width: 250px;
    position: relative;
}