.THIS .eventContainer{
        
    position:absolute;    
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
    overflow : hidden;
}

.THIS .eventTeamMarker{
    
    width : 15px;
}

.THIS .eventTable{
    
    height : 100%;
}

.THIS .eventContent{
    
    vertical-align : top;
    height : 100%;
    padding-left : 5px;
    padding-right : 5px;
}

.THIS .hide-event{
    
    -webkit-box-shadow: 1px 1px 1px 0px rgba(100,100,100,0.2);
	-moz-box-shadow: 1px 1px 1px 0px rgba(100,100,100,0.2);
	box-shadow: 1px 1px 1px 0px rgba(100,100,100,0.2);
    background-color : rgba(180, 180, 180, 0.2) !important;
}

.THIS .hide-team{
    
    background-color : rgba(180, 180, 180, 0.2) !important;
}

.THIS .eventLabel{
    
    color : rgb(100, 100, 100);
    font-size:12px;
    font-weight:bold;
}

.THIS .hide-label{
    
    color : rgba(100, 100, 100, 0.4) !important;
}

.THIS .eventTime{
    
    color : rgb(120, 120, 120);
    font-size:11px;
    font-style : italic;
}