.THIS .tableHeader{
  
    height : 40px;
}

.THIS .filter-panel{
    
    text-align : right;
}

.THIS .tableHeader th{
  
    background-color: rgb(230, 230, 230);
    position: sticky;
    top: 0;
    z-index : 10;
	border : 0;    
    border-right: 1px solid darkgrey;
    line-height : 40px;
    padding : 0;
    font-weight : normal;
}

.THIS .mainTable{
    
    position: relative;
    border-collapse: collapse;
    width : 100%;
}

.THIS .headerCheckbox .slds-checkbox_faux {
    
    border : solid 1px rgb(22, 50, 92);
}

.THIS .filter-container{
    
    height : 60px;
}

.THIS .column-action{
    
    min-width : 30px; 
    width : 3%;
    text-align : center;
    vertical-align : middle;
    border-style : solid;
    border-color : darkgrey;
    border-width: 1px 1px 1px 0px; 
}

.THIS .column-completed{
    
    min-width : 50px;   
    width : 5%;
    text-align : center;   
    border-style : solid;
    border-color : darkgrey;
    border-width: 1px 1px 1px 0px; 
}

.THIS .column-account{
        
    min-width : 150px; 
    width : 15%;        
    padding-left : 5px;
    white-space : pre-line; 
    border-style : solid;
    border-color : darkgrey;
    border-width: 1px 1px 1px 0px;
}

.THIS .column-segment{
        
    min-width : 50px;     
    width : 4%;
    text-align : center;  
    border-style : solid;
    border-color : darkgrey;
    border-width: 1px 1px 1px 0px; 
}

.THIS .column-procedure{
    
    min-width : 110px;   
    width : 15%;
    vertical-align : middle;
    padding-left : 5px;
    border-style : solid;
    border-color : darkgrey;
    border-width: 1px 1px 1px 0px; 
}

.THIS .column-company{
    
    min-width : 120px;
    width : 15%;
    vertical-align : middle;
    padding-left : 5px;
    border-style : solid;
    border-color : darkgrey;
    border-width: 1px 1px 1px 0px; 
}

.THIS .column-ny-potential{
    
    min-width : 130px;
    width : 10%;
    text-align : center; 
    border-style : solid;
    border-color : darkgrey;
    border-width: 1px 1px 1px 0px; 
}

.THIS .column-ly-potential{
    
    min-width : 120px;
    width : 10%;
    text-align : center; 
    border-style : solid;
    border-color : darkgrey;
    border-width: 1px 1px 1px 0px; 
}

.THIS .column-sales{
    
    min-width : 120px;
    width : 10%;
    text-align : center; 
    border-style : solid;
    border-color : darkgrey;
    border-width: 1px 1px 1px 0px; 
}

.THIS .column-market-share{
    
    min-width : 65px;
    width : 5%;
    text-align : center; 
    border-style : solid;
    border-color : darkgrey;
    border-width: 1px 1px 1px 0px;    
}

.THIS .filter-combo{
    
    width : 100%;
    margin-right : 4px;   
}

.THIS .filterSelect{
        
    display: inline;
    line-height : normal;
    text-align : left;
}

.THIS .filterSelect .slds-form-element__control{
    
    min-width : 150px;
    padding-left: 0;
    display: inline-table;
    margin-right : 5px;
    width : 95%;
}

.THIS .filterSelect .slds-listbox{
    
    min-width : 180px;
}

.THIS .filterSelectStatus .slds-form-element__control{
    
    min-width : 130px;    
}

.THIS .filterSelectStatus .slds-listbox{
    
    min-width : 180px;
}

.THIS .filterSelectSegment .slds-form-element__control{
    
    min-width : 80px;    
}

.THIS .filterSelectSegment .slds-listbox{
    
    min-width : 140px;
}

.THIS .filterSelectCompetitor{
    
    width : 100px !important;    
    display : inline-block;
}

.THIS .filterSelectCompetitor .slds-form-element__control{
    
    padding-left : 0;    
}

.THIS .filterSelectCompetitor .slds-listbox{
    
    min-width : 100px;
}

.THIS .filterSelectCompetitor label{
        
    display: none;
}

.THIS .filterSelect label{
        
    display: none;
}

.THIS .filter-label{
    
    font-weight : bold;
    margin-left : 8px;
}

.THIS .filter-active input{
    
    background-color: rgba(148, 189, 255, 0.2) !important;
}

.THIS .filter-combo{
    
    width : 100%;
    margin-right : 4px;   
}

.THIS .filterCheckbox{
    
    display: inline-table;
    width: 30px;
    vertical-align : middle;
    top : 15px !important;
    height: 50px;
    text-align : center;
 	margin-right : 5px;
}

.THIS .layout-margin-right{
    
    margin-right : 8px;
    min-width : 180px;
}

.THIS .layout-align-right{
    
    text-align : right;
}

.THIS .layout-align-center{
    
    text-align : center;
}

.THIS .no-horizontal-padding{
    
    padding-right : 0;
    padding-left : 0;
}

.THIS .checkbox-no-label .slds-form-element__label{
    
    display : none !important;    
}

.THIS .checkbox-no-label .slds-checkbox_faux{
    
    margin : 0 !important;    
}

.THIS .input-no-label .slds-form-element__control{
    
    width : 100%;
    max-width : 200px;
    display : inline-block;
}

.THIS .input-no-label input{
    
    height : 30px;
    min-height : 30px;
    text-align : right;
}

.THIS .sort-icon{
    
    cursor: pointer;
}

.THIS .sort-icon-active svg{
    
    fill : rgb(22, 50, 92);
}


.THIS .sort-icon-inactive svg{
    
    fill : lightgray;
}

.THIS .apply-filter-button{
    
    margin-right : 0.25rem;
}

.THIS .count-container{
    
    height : 50px;
}

.THIS .pill-active{
    
    background-color: rgba(148, 189, 255, 0.2) !important;
    color : rgb(22, 50, 92);    
}

.THIS .filter-label-account{
    
    font-weight : bold;
	margin-left : 8px;    
}

.THIS .account-input input{
    
    color : unset;
}

.THIS .layout-margin{
    
    margin-right : 5px;
    margin-left : 5px;
    min-width : 180px;
}

.THIS .new-status-combo{
    
    display : inline-block;
    margin-left : 5px;
    width : 120px;
    vertical-align: middle;
}

.THIS .new-status-combo label{
        
    display: none;
}

.THIS .new-status-combo-enabled input{
    
    background-color: rgb(0, 112, 210) !important;
    border-color: rgb(0, 112, 210) !important;   
}

.THIS .new-status-combo-disabled input{
    
    background: rgb(201, 199, 197) !important;
    border-color: rgb(201, 199, 197) !important; 
    cursor : default !important;
}

.THIS .new-status-combo input::placeholder{
    
    color: rgb(255, 255, 255);
}

.THIS .new-status-combo svg{
    
    fill: rgb(255, 255, 255);
}