.THIS .jump-to-icon{
    
    cursor : pointer;
}

.THIS .jump-to-icon svg{
    
    fill : rgb(94, 180, 255);
}

.THIS .select-icon{
    
    cursor : pointer;
    margin-right : 10px;
}

.THIS .select-icon svg{
    
    fill : rgb(94, 180, 255);
}

.THIS .highlight{
    
    color : rgb(94, 180, 255);
}

.THIS .highlight .slds-progress-bar{
    
    box-shadow: 1px 1px 4px #888888;
}

.THIS .complete-bar div{
    
    position : absolute;
}

.THIS .approved-bar div{
      
    background : transparent;
}

.THIS .approved-bar span{
    
    background : #4bca81;
}