.THIS .eventContainer{
        
    position:absolute;    
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
    overflow : hidden;
}

.THIS .eventTeamMarker{
    
    width : 8px;
}

.THIS .eventTable{
    
    height : 100%;
}

.THIS .hide-event{
    
    -webkit-box-shadow: 1px 1px 1px 0px rgba(100,100,100,0.2);
	-moz-box-shadow: 1px 1px 1px 0px rgba(100,100,100,0.2);
	box-shadow: 1px 1px 1px 0px rgba(100,100,100,0.2);
    background-color : rgba(180, 180, 180, 0.2) !important;
}

.THIS .hide-team{
    
    background-color : rgba(180, 180, 180, 0.2) !important;
}

.THIS .hide-label{
    
    color : rgba(100, 100, 100, 0.4) !important;
}

.THIS .event-Sub-Label{
    
    font-style : italic;
}

.THIS .eventContent{
    
    vertical-align : top;
    height : 100%;
    padding-left : 2px;
    color : rgb(100, 100, 100);
    font-size:11px;    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.THIS .eventLabel{
        
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}