.THIS {
    
    font-size : 95%;
}

.THIS .mainTabSet{
    
    height : 100%;
}

.THIS .button-settings button{
    
    border : 0;
}

.THIS .button-settings button lightning-primitive-icon[data-data-rendering-service-uid] {
    
	display : none;
}

.THIS .mainTabSet .slds-tabs_default__content{
    
    height : 100%;
    padding : 0;
    padding-left: 1rem;
    padding-right: 1rem;
}