<apex:component controller="ctrl_CallRecordingOverview">

	<apex:attribute name="tColorHeaderBUG" description="The Color for the Business Unit Group Header." type="String" required="false" default="#004B87" />  
	<apex:attribute name="tColorHeaderBU" description="The Color for the Business Unit Header." type="String" required="false"  default="#0085CA" />  
	<apex:attribute name="tColorHeaderSBU" description="The Color for the Sub Business Unit Header." type="String" required="false"  default="#00A9E0" />  

    <style type="text/css">

        .headBUG {
            font-style: italic;
            font-size: 12px;
            font-weight: normal;
            text-align: left;
            color: white;
            background-color: {!tColorHeaderBUG};
        }

        .headBU {
            font-style: italic;
            font-size: 12px;
            font-weight: normal;
            text-align: left;
            color: white;
            background-color: {!tColorHeaderBU};
        }

        .headSBU {
            font-style: italic;
            font-size: 12px;
            font-weight: normal;
            text-align: left;
            color: white;
            background-color: {!tColorHeaderSBU};
        }

        .labelColumn {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            width: 65px;
            border-bottom-color: rgb(236, 236, 236);
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-left-color: rgb(236, 236, 236);
            border-right-color: rgb(236, 236, 236);
            border-top-color: rgb(236, 236, 236);
            color: rgb(74, 74, 86);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10.9167px;
            font-weight: 700;
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            padding-bottom: 5px;
            padding-left: 2px;
            padding-right: 10px;
            padding-top: 5px;
            text-align: left;
            vertical-align: top;
        }

        .dataColumn {
            width: 50px;
            border-bottom-color: rgb(236, 236, 236);
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-left-color: rgb(236, 236, 236);
            border-right-color: rgba(0, 0, 0, 0);
            border-top-color: rgb(236, 236, 236);
            color: rgb(0, 0, 0);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 16px;
            padding-top: 5px;
            text-align: left;
            vertical-align: top;
        }

        .emptyLeadingCol{
            width:35px;
        }

        .tableMain {
            width: 100%;
        }
        .tableBUG {
            width: 100%;
        }
        .tableBU {
            width: 100%;
        }
        .tableSBU {
            width: 100%;
        }
        
        dataTable {
            width:150px;

        }

        .bPageBlock {
            border-top: 4px solid #F8F8F8;
        }


    </style>

    <body class="Account detailPage">

        <apex:form id="frmMain">

            <apex:pageMessages />

            <div class="bPageBlock secondaryPalette">
                 <div class="pbBody">
                    <div class="pbSubsection">

                        <apex:outputPanel id="opSelectView" style="align:right;" rendered="{!AND(bShowActions,bShowSelectView)}">
                            <table Width="100%">
                                <tr>
                                    <td Width="33%">
                                        <div Align="left">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <apex:outputLabel value="Select View : " for="slView" rendered="{!bShowSelectView}"/>
                                                        <apex:selectlist id="slView" value="{!tSelectedView}" multiselect="false" size="1" onchange="refreshData();" rendered="{!bShowSelectView}">
                                                            <apex:selectoptions value="{!lstSO_SelectView}" />
                                                        </apex:selectlist><p/>
                                                    </td>
                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td>
                                                        <apex:outputLabel value="Apply Color Coding : " for="chkColorMapping" rendered="{!bShowSelectView}" title="Orange = last date older then 3 months, red = no calls" />
                                                        <apex:inputCheckbox id="chkColorMapping" value="{!bShowColorMapping}" onchange="refreshData();" rendered="{!bShowSelectView}" title="Orange = last date older then 3 months, red = no calls"/>
                                                        <img src="/img/s.gif" alt="" class="helpOrb" title="Orange = last date older then 3 months, red = no calls" Style="display:{!IF(bShowSelectView==true,'','none')}" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td Width="33%" valign="middle">
                                        <center>
                                            <apex:commandButton id="cmdRedirect" action="{!redirectToMaster}" value="{!tRedirectLabel}" rendered="{!bShowSelectView}"/>
                                        </center>
                                    </td>
                                    <td Width="33%">&nbsp;</td>
                                </tr>
                            </table>
                        </apex:outputPanel>

                        <apex:outputPanel id="opOpenNewPage" style="align:right;" rendered="{!AND(bShowActions,!bShowSelectView)}">
                            <div Class="pbHeader">
                                <table cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td class="pbTitle">
                                            </td>
                                            <td class="pbButton">
                                                <apex:outputLink target="_blank" styleClass="btn" style="text-decoration:none;padding:4px;" value="/apex/{!$CurrentPage.Name}?id={!id_Master}&fullPage=1" rendered="{!!bShowSelectView}">Open in new page</apex:outputLink>
                                            </td>
                                            <td class="pbHelp">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </apex:outputPanel>

                        <apex:outputPanel id="opView1" rendered="{!bShowCallRecordingOverview}">

                            <center>
                                <apex:repeat value="{!lstwData}" var="owData" rendered="{!bShowSelectView}">
                                    <a href="#{!owData.owData_BUG.oBUG.Id}" id="{!owData.owData_BUG.oBUG.Name}">{!owData.owData_BUG.oBUG.Name}</a>&nbsp;
                                </apex:repeat>
                            </center>


                            <apex:repeat value="{!lstwData}" var="owData">

                                <table Border="0" Class="tableMain">

                                    <tr>
                                        <td ColSpan="2">
                                            <table Border="0" Class="tableBUG">
                                                <tr>
                                                    <th Class="headBUG" ColSpan="20">
                                                        <div id="{!owData.owData_BUG.oBUG.Id}" class="headBUG" onclick="window.location.hash='#';">
                                                            {!owData.owData_BUG.oBUG.Name}
                                                        </div>
                                                    </th>
                                                </tr>
                                                <tr Style="display:{!IF(AND(bShowBUGData, owData.owData_BUG.bShowData==true),'','none')}">
                                                    <td>
                                                        <table>
                                                            <tr>
                                                                <td Class="labelColumn" NoWrap="true"># Calls</td>
                                                                <td>&nbsp;</td>
                                                                <td Class="dataColumn inlineEditWrite" NoWrap="true" Style="color:{!IF(bShowColorMapping==true,owData.owData_BUG.tColor_Call,'')}"><apex:outputField value="{!owData.owData_BUG.oCallRecordingOverview.Number_Of_Calls__c}" /></td>
                                                            </tr>
                                                            <tr>
                                                                <td Class="labelColumn" NoWrap="true">Last Date</td>
                                                                <td>&nbsp;</td>
                                                                <td Class="dataColumn inlineEditWrite" NoWrap="true" Style="color:{!IF(bShowColorMapping==true,owData.owData_BUG.tColor_Date,'')}">
                                                                    <apex:outputField value="{!owData.owData_BUG.oCallRecordingOverview.Last_Call_Date__c}" rendered="{!!owData.owData_BUG.bNoData}" />
                                                                    <apex:outputText value="{!owData.owData_BUG.tDateNA}" rendered="{!owData.owData_BUG.bNoData}" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                            </table>
                                        </td>
                                    </tr>                 

                                    <apex:repeat value="{!owData.mapwData_BU[owData.owData_BUG.oBUG.Id]}" var="owBU" rendered="{!IF(owData.owData_BUG.oBUG.Id!=null,TRUE,FALSE)}">
                                        <tr>        
                                            <td Class="emptyLeadingCol">&nbsp;</td>
                                            <td>
                                                <table Border="0" Class="tableBU">
                                                    <tr>
                                                        <th Class="headBU" ColSpan="{!(owBU.iRecordCountChild + 2) * 2}">
                                                            {!owBU.oBU.Name}
                                                        </th>
                                                    </tr>
                                                    <tr Style="display:{!IF(owBU.bShowData==true,'','none')}">
                                                        <td ColSpan="{!owBU.iRecordCountChild + 1}">
                                                            <table>
                                                                <tr>
                                                                    <td Class="labelColumn" NoWrap="true"># Calls</td>
                                                                    <td>&nbsp;</td>
                                                                    <td Class="dataColumn inlineEditWrite" NoWrap="true" Style="color:{!IF(bShowColorMapping==true,owBU.tColor_Call,'')}"><apex:outputField value="{!owBU.oCallRecordingOverview.Number_Of_Calls__c}" /></td>
                                                                </tr>
                                                                <tr>
                                                                    <td Class="labelColumn" NoWrap="true">Last Date</td>
                                                                    <td>&nbsp;</td>
                                                                    <td Class="dataColumn inlineEditWrite" NoWrap="true" Style="color:{!IF(bShowColorMapping==true,owBU.tColor_Date,'')}">
                                                                        <apex:outputField value="{!owBU.oCallRecordingOverview.Last_Call_Date__c}" rendered="{!!owBU.bNoData}" />
                                                                        <apex:outputText value="{!owBU.tDateNA}" rendered="{!owBU.bNoData}" />
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td Class="emptyLeadingCol" NoWrap="true">&nbsp;</td>

                                                        <apex:repeat value="{!owData.mapwData_SBU[owBU.oBU.Id]}" var="owSBU">
                                                            <td Style="display:{!IF(owSBU.bShowData==true,'','none')}" Width="10%" >
                                                                <table Border="0" Class="tableSBU">
                                                                    <tr>
                                                                        <th Class="headSBU">
                                                                            {!owSBU.oSBU.Name}
                                                                        </th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <table>
                                                                                <tr>
                                                                                    <td Class="labelColumn" NoWrap="true"># Calls</td>
                                                                                    <td>&nbsp;</td>
                                                                                    <td Class="dataColumn inlineEditWrite" NoWrap="true" Style="color:{!IF(bShowColorMapping==true,owSBU.tColor_Call,'')}"><apex:outputField value="{!owSBU.oCallRecordingOverview.Number_Of_Calls__c}" /></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td Class="labelColumn" NoWrap="true">Last Date</td>
                                                                                    <td>&nbsp;</td>
                                                                                    <td Class="dataColumn inlineEditWrite" NoWrap="true" Style="color:{!IF(bShowColorMapping==true,owSBU.tColor_Date,'')}">
                                                                                        <apex:outputField value="{!owSBU.oCallRecordingOverview.Last_Call_Date__c}" rendered="{!!owSBU.bNoData}" />
                                                                                        <apex:outputText value="{!owSBU.tDateNA}" rendered="{!owSBU.bNoData}" />
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td Class="headSBU" Width="1px" Style="display:{!IF(owSBU.bIsLast==true,'none','')}">
                                                            </td>
                                                        </apex:repeat>

                                                        <td>
                                                            <table Border="0" Class="tableSBU">
                                                                <tr >
                                                                    <th Class="headSBU">
                                                                        &nbsp;
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table>
                                                                            <tr>
                                                                                <td Class="labelColumn" NoWrap="true">&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                                <td Class="dataColumn inlineEditWrite" NoWrap="true">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td Class="labelColumn" NoWrap="true">&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                                <td Class="dataColumn inlineEditWrite" NoWrap="true">&nbsp;</td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                </table>

                                            </td>
                                        </tr>
                                    </apex:repeat>

                                </table>

                                <br /><br /><br /><br /><br /><br />
                            </apex:repeat>

                        </apex:outputPanel>

                    </div>
                </div>
            </div>

             <apex:actionFunction action="{!refreshData}" name="refreshData" rerender="opView1"/>

        </apex:form>

    </body>

</apex:component>