.THIS .overview-container{
    	
    padding: 8px;    
    display: flex;
    align-items: center;
    position : relative;
    right : -2px;
}

.THIS .panels{
	
	height : 100%;
}

.THIS .selected-container{
    
    border-top: solid 1px darkgray;
    border-left: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    background: rgb(234, 242, 255);    
}

.THIS .group-by-combo{
   
	width : 180px !important;
    float : right;
    margin-bottom : 0;
    margin-right : 5px;
    margin-top : 5px;
}

.THIS .group-by-combo label{
   
	font-weight : bold;
}

.THIS .group-by-combo .slds-listbox{
    
    min-width : 180px;
}

.THIS .progress-icon{
    
    margin-right : 10px;
}

.THIS .overview-label{
    
    width : 100%;    
    font-weight : bold;    
    display : block;
    cursor : pointer;
}

.THIS .overview-item-label{
        
    text-align : center;
    font-weight : bold;
    font-size : 1rem;
    display : inline-block;
    max-width: 250px;
}

.THIS .overview-bar{    
    
    display : inline-block;
}

.THIS .overview-value{
    
    font-weight : bold;    
    display : inline-block;
}

.THIS .left-panel{
    
    width : 280px;
}

.THIS .right-panel{
    
    width : 100%;
    background: rgb(234, 242, 255);
    border: solid 1px darkgray;
}

.THIS .clear-filter-icon{
	
    cursor : pointer;
}

.THIS .clear-filter-icon svg{
    
    fill : rgb(94, 180, 255);
}

.THIS .complete-bar div{
    
    position : absolute;
}

.THIS .approved-bar div{
      
    background : transparent;
}

.THIS .approved-bar span{
    
    background : #4bca81;
}