.THIS .select-no-label .slds-select_container{
    
    width : 100%;
    max-width : 200px;
    display : inline-block;
}

.THIS .select-no-label select{
    
    height : 30px;    
}

.THIS .select-no-label label{
    
    display : none;
}

.THIS .input-number input{
    
    padding-right : 4px;
    padding-left : 4px;
}

.THIS .input-select select{
        
    padding-left : 4px !important;    
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
	
    .THIS .input-select select{
                
        padding-right : 4px !important;
    }
    
    .THIS .input-select .slds-select_container:before {
       content: none;
    }
    
    .THIS .input-select .slds-select_container:after {
       content: none;
    }
}
.THIS .input-no-label .slds-form-element__control{
    
    width : 100%;
    max-width : 200px;
    display : inline-block;
}

.THIS .input-no-label input{
    
    height : 30px;
    min-height : 30px;
    text-align : right;
}

.THIS .multi-select-icon{
    float : right;
}

.THIS .multi-select-icon .slds-icon{
    
    height : 10px;
    width : 10px;
}

.THIS .multi-picklist .slds-dueling-list__column_responsive{
    flex : 0 1 45%;
}

.THIS .medt-no-padding .slds-gutters{
    margin-right: -.0rem;
    margin-left: -.0rem;
}