.THIS .tableHeader th {
  
    background-color: rgb(230, 230, 230);
    z-index : 10;
    position: sticky;
  	top: 0;  
    font-weight : normal;
}

.THIS .mainTable{
    
    position: relative;
    border-collapse: collapse;
    width : auto;
}

.THIS .filter-container{
    
    height : 60px;
}

.THIS .count-container{
    
    height : 50px;
}

.THIS .mainTable tbody tr:nth-child(odd) {
    background-color: rgba(148, 189, 255, 0.2);
}

.THIS .headerCheckbox .slds-checkbox_faux {
    
    border : solid 1px rgb(22, 50, 92);
}

.THIS .columnAction{
    
    width : 30px;
    text-align : center;
    border : 1px solid darkgrey;    
}

.THIS .columnCompleted{
    
    width : 60px;
    text-align : center;   
    border-right : 1px solid darkgrey;
    border-top : 1px solid darkgrey;
    border-bottom : 1px solid darkgrey;
}

.THIS .account-input input{
    
    color : unset;
}

.THIS .columnAccount{
    
    width : 200px;   
    border-right : 1px solid darkgrey;
    border-top : 1px solid darkgrey;
    border-bottom : 1px solid darkgrey;
    padding-left : 5px;
    white-space : pre-line; 
}

.THIS .columnQuestion{
        
    text-align : center;
    white-space : pre-line;    
    border-right : 1px solid darkgrey;  
    border-top : 1px solid darkgrey;
    border-bottom : 1px solid darkgrey;
}

.THIS .filter-combo{
    
    width : 100%;
    margin-right : 4px;   
}

.THIS .filter-label{
    
    font-weight : bold;
    margin-left : 8px;
}

.THIS .filter-label-account{
    
    font-weight : bold;
	margin-left : 8px;    
}

.THIS .filterSelect{
        
    display: inline;
    line-height : normal;
    text-align : left;
}

.THIS .filterSelect .slds-form-element__control{
    
    min-width : 180px;
    padding-left: 0;
    display: inline-table;
    margin-right : 5px;
    width : 95%;
}

.THIS .filterSelect .slds-listbox{
    
    min-width : 80px;
}

.THIS .filterSelectStatus .slds-form-element__control{
    
    min-width : 130px;    
}

.THIS .filterSelectSegment .slds-form-element__control{
    
    min-width : 80px;    
}

.THIS .filterSelect label{
        
    display: none;
}

.THIS .filter-active input{
    
    background-color: rgba(148, 189, 255, 0.2) !important;
}

.THIS .pill-active{
    
    background-color: rgba(148, 189, 255, 0.2) !important;
    color : rgb(22, 50, 92);    
}

.THIS .layout-margin{
    
    margin-right : 5px;
    margin-left : 5px;
    min-width : 180px;
}

.THIS .layout-align-right{
    
    text-align : right;
}

.THIS .no-horizontal-padding{
    
    padding-right : 0;
    padding-left : 0;
}

.THIS .checkbox-no-label .slds-form-element__label{
    
    display : none !important;    
}

.THIS .checkbox-no-label .slds-checkbox_faux{
    
    margin : 0 !important;    
}

.THIS .status-checked svg{
    
    fill : green;
}

.THIS .status-unchecked svg{
    
    fill : lightgray;
}

.THIS .user-step svg{
    
    filter : drop-shadow(0px 0px 2px rgb(172, 172, 172));
}

.THIS .button-container-left{
    
    padding-top : 15px;
}

.THIS .apply-filter-button{
    
    margin-right : 0.25rem;
}

.THIS .new-status-combo{
    
    display : inline-block;
    margin-left : 5px;
    width : 120px;
    vertical-align: middle;
}

.THIS .new-status-combo label{
        
    display: none;
}

.THIS .new-status-combo-enabled input{
    
    background-color: rgb(0, 112, 210) !important;
    border-color: rgb(0, 112, 210) !important;   
}

.THIS .new-status-combo-disabled input{
    
    background: rgb(201, 199, 197) !important;
    border-color: rgb(201, 199, 197) !important; 
    cursor : default !important;
}

.THIS .new-status-combo input::placeholder{
    
    color: rgb(255, 255, 255);
}

.THIS .new-status-combo svg{
    
    fill: rgb(255, 255, 255);
}

.THIS .sort-icon{
    
    cursor: pointer;
}

.THIS .sort-icon-active svg{
    
    fill : rgb(22, 50, 92);
}


.THIS .sort-icon-inactive svg{
    
    fill : lightgray;
}