<apex:page standardController="Account" extensions="controllerAccountDelete" action="{!AccountDelete2}">

<apex:form >
<apex:pageBlock >
<apex:outputText style="font-weight:bold" value="{!WarnText}"/>
<apex:pageBlockButtons >
<apex:commandButton action="{!Back}" value="Back to the account"/>
</apex:pageBlockButtons>
</apex:pageBlock>
</apex:form>
</apex:page>