<apex:page standardController="Call_Topics__c" extensions="redirectCallTopicToVisitReport" action="{!GoToEditPage}">
<apex:pageBlock >
     <apex:outputPanel id="err">
                <apex:messages styleClass="error" />
     </apex:outputPanel>
</apex:pageBlock>

</apex:page>