<apex:page standardController="Call_Records__c" extensions="redirectToCallRecord" action="{!GoToEditPage}">
<apex:pageBlock >
     <apex:outputPanel id="err">
                <apex:messages styleClass="error" />
     </apex:outputPanel>
</apex:pageBlock>
</apex:page>