<apex:page standardController="Opportunity" extensions="ctrlExt_Opportunity_Send_Email">

	<apex:sectionHeader title="Send an Email" subtitle="{!Opportunity.Name}"/>
	
	<apex:form >	
		
		<apex:pageMessages />
						
		<apex:pageBlock mode="edit">
		
			<apex:pageBlockButtons location="bottom">
				<apex:commandButton value="Next" action="{!goToEmail}" />
				<apex:commandButton value="Cancel" action="{!cancel}" />
			</apex:pageBlockButtons>
		
			<apex:pageBlockSection columns="1">
				
				<apex:outputLabel value="Please select the departments you want to include in this e-mail" />
				
				<br/>
				
				<apex:repeat value="{!options}" var="option" >
					
					<apex:outputPanel layout="block">
						<apex:inputCheckbox value="{!option.selected}" />
						<apex:outputLabel value="{!option.label}" />					
					</apex:outputPanel>
				
				</apex:repeat>
												
			</apex:pageBlockSection>
			
		</apex:pageBlock>
		
	</apex:form>
	
</apex:page>