<apex:page controller="controllerContactSelector" tabStyle="Implant__c" id="Page"  action="{!RedirectToDifferntPage}">

    <style>
        .delbold 
        {
            font-weight: bold;
        }
    </style>        

    <script>
        if({!isMMXImplant}==false)
        {
            window.onload=function callme()
            {
                if({!isMMXImplant}==false){
                  document.getElementById('Page:form1:thisPage:PBS111:PBST411:ProcedureTexts').disabled = true; 
                }
            }
        }
        function setFocusOnLoad(){}
    </script>

    <apex:outputPanel rendered="{!isViewMode}">

        <apex:sectionHeader title="{!AMTitle}" subTitle="Detail view"/>

        <apex:pageBlock title="{!AMTitle}">

            <apex:pageBlockSection title="Generic Information" columns="2" id="PBSGenericInformation" collapsible="false">
                <!-- LINE 1 -->
                <apex:pageBlockSectionItem rendered="{!isImplantSectionActive}">
                    <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Implant_Date_Of_Surgery__c.label}" />
                    <apex:outputField value="{!implant.Implant_Date_Of_Surgery__c}" />
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem rendered="{!isImplantSectionActive}">
                    <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Attended_Implant_Text__c.label}" />
                    <apex:outputField value="{!implant.Attended_Implant_Text__c}" />
                </apex:pageBlockSectionItem>
                <!-- LINE 2 -->
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Implant_Implanting_Contact__c.label}" />
                    <apex:outputField value="{!implant.Implant_Implanting_Contact__c}" />
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem rendered="{!IF(AND(NOT(bIsAFS),isImplantSectionActive), true, false)}">
                    <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Duration_Nr__c.label}" />
                    <apex:outputField value="{!implant.Duration_Nr__c}" />
                </apex:pageBlockSectionItem>
                <!-- LINE 3 -->
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Implant_Implanting_Account__c.label}" />
                    <apex:outputField value="{!implant.Implant_Implanting_Account__c}" />
                </apex:pageBlockSectionItem>

                <apex:pageblocksectionItem rendered="{!!bIsAFS}">
                    <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Wait_Time__c.label}" rendered="{!visibleWaitTime}"/>
                    <apex:outputField value="{!implant.Wait_Time__c}" />
                </apex:pageblocksectionItem>

                <apex:pageblocksectionItem rendered="{!bIsAFS}">&nbsp;</apex:pageblocksectionItem>
                <!-- LINE 4 -->
                <apex:pageblocksectionItem ></apex:pageblocksectionItem>

                <apex:pageblocksectionItem rendered="{!!bIsAFS}">
                    <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Travel_Time__c.label}" rendered="{!visibleTravelTime}"/>
                    <apex:outputField value="{!implant.Travel_Time__c}" />
                </apex:pageblocksectionItem>

                <apex:pageblocksectionItem rendered="{!bIsAFS}">&nbsp;</apex:pageblocksectionItem>


                <!-- LINE 5 -->
                <apex:pageblocksectionItem ></apex:pageblocksectionItem>

                <apex:pageblocksectionItem rendered="{!!bIsAFS}">
                    <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Start_Time__c.label}" rendered="{!visibleStartTime}"/>
                    <apex:outputField value="{!implant.Start_Time__c}" />
                </apex:pageblocksectionItem>

                <apex:pageblocksectionItem rendered="{!bIsAFS}">&nbsp;</apex:pageblocksectionItem>
            </apex:pageBlockSection>

            <!-- -->
            <apex:pageBlockSection title="Procedure Information" columns="2" collapsible="false">

                <apex:outputField rendered="true" value="{!implant.Business_Unit_Text__c}" />
                
                <apex:pageblocksectionItem >
                    <apex:outputLabel value="Indications/Etiologies"/>
                    <apex:outputText value="{!etiologiesReadOnly}" />
                </apex:pageblocksectionItem>

                <apex:outputField value="{!implant.Implant_Procedure_Type__c}" />
                <apex:pageblocksectionItem />

                <apex:outputField value="{!implant.Implant_Therapy__c}" />
                <apex:pageblocksectionItem />

                <apex:outputField value="{!implant.Procedure_Text__c}" />
                <apex:pageblocksectionItem />

                <apex:outputField value="{!implant.Product_Group__c}" />
                <apex:pageblocksectionItem />

            </apex:pageBlockSection>

            <apex:pageBlockSection title="Product Information" columns="1" rendered="{!isMMXImplant}" collapsible="false">


                <apex:pageBlockTable columns="3" columnsWidth="30%,20%,50%" value="{!AddProductsLists}" var="p" width="950px" id="showProductsUsed" border="1">
                    <apex:column >
                        <apex:facet name="header">Implanted/Consumed Product</apex:facet>
                        <apex:outputField value="{!p.Product2__c}" />
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Quantity</apex:facet>
                        <apex:outputText value="{0, number, 0}">
                            <apex:param value="{!p.Quantity__c}"/>
                        </apex:outputText>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">Implant Position</apex:facet>
                        <apex:outputField value="{!p.Lead_Position__c}" />
                    </apex:column>

                </apex:pageBlockTable>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection title="Replaced Product" columns="1" rendered="{!if((isReplacedProductActiveManu==true && isMMXImplant==true),true,false)}">

                <apex:outputField value="{!implant.Manufacturer_ID__c}" />
                <apex:outputField value="{!implant.Replaced_Product_ID__c}" />
                <apex:outputField value="{!implant.Replacement_Reason_Text__c}" />
                <apex:outputField value="{!implant.Replacement_Longevity_Nr__c}" />

            </apex:pageBlockSection>

            <apex:pageBlockSection title="Referral Information" columns="2" rendered="{!boolReferralInfo}" collapsible="false">

                <apex:outputField value="{!implant.Implant_Referring_Contact__c}" />
                <apex:outputField value="{!implant.Referring_Department_Text__c}" rendered="{!bReferralDepartment}" />
                <apex:outputField value="{!implant.Referral_Specialty_Text__c}" rendered="{!bReferralSpecialty}" />
                <apex:outputField value="{!implant.Implant_Referring_Account__c}" />
                <apex:pageblocksectionItem />

            </apex:pageBlockSection>

        </apex:pageBlock>
        
    </apex:outputPanel>
    
    <!-- EDIT MODE -->
    
    <apex:outputPanel rendered="{!NOT(isViewMode)}">    
    
	    <apex:sectionHeader title="{!AMTitle}" subTitle="Step 1 of 2"/>
	    <apex:form id="form1">
	    
	        <apex:pageBlock title="{!AMTitle}" mode="edit" id="thisPage">
	            <apex:outputPanel id="err">    
	                <apex:messages styleClass="error" />  
	            </apex:outputPanel>    
	            <apex:pageBlockSection title="Generic Information" columns="2" id="PBSGenericInformation">
	                <apex:pageBlockSectionItem id="PBSTDateOfSurgery" rendered="{!isImplantSectionActive}">
	                    <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Implant_Date_Of_Surgery__c.label}" />
	                    <apex:outputPanel layout="block" styleClass="requiredInput">
	                        <apex:outputPanel layout="block" styleClass="requiredBlock"/>
	                        <apex:inputField required="true" id="DateOfSurgery" value="{!implant.Implant_Date_Of_Surgery__c}" />
	                        <script>
	                            if({!isMMXImplant}==false){
	                                document.getElementById('{!$Component.DateOfSurgery}').disabled = true; 
	                            }
	                        </script>
	                    </apex:outputPanel>
	                </apex:pageBlockSectionItem>   
	    
	                <apex:pageBlockSectionItem id="PBSTAttendedImplantText" rendered="{!isImplantSectionActive}">
	                    <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Attended_Implant_Text__c.label}" />
	                    <apex:outputPanel layout="block" styleClass="requiredInput">
	                        <apex:outputPanel layout="block" styleClass="requiredBlock"/>
	                        <apex:actionRegion id="ArAttendedImplantText">            
	                            <apex:inputField required="true" id="AttendedImplantText" value="{!implant.Attended_Implant_Text__c}" >
	                                <apex:actionSupport event="onchange" action="{!DurationActive}" rerender="OutDuration,OutWaitTime,OutTravelTime,OutStartTime,opGUSpecific" />   
	                            </apex:inputField> 
	                            <script>
	                                // Disable if Tyep = attended & call record linked to it.
	                                var PageURL = document.location.href;
	                                var IsEditMode = PageURL.indexOf('id=');
	                                if(IsEditMode>0 && document.getElementById('{!$Component.AttendedImplantText}').value=='Attended' && '{!implant.Call_Record_ID__c}'!=''){
	                                    document.getElementById('{!$Component.AttendedImplantText}').disabled = true;     
	                                }          
	                            </script>                       
	                        </apex:actionRegion>                    
	                    </apex:outputPanel>
	                </apex:pageBlockSectionItem>   
	        
	                <apex:pageBlockSectionItem id="PBSTContactToSelectList" >  
	                    <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Implant_Implanting_Contact__c.label}" />              
	                         <apex:outputPanel layout="block" styleClass="requiredInput">            
	                            <apex:outputPanel layout="block" styleClass="requiredBlock"/>                                     
	                                <apex:actionRegion id="Ar2">
	                                    <apex:inputField required="{!isImplantSectionActive}" id="Implanting_Contact" value="{!implant.Implant_Implanting_Contact__c}" >
	                                        <apex:actionSupport event="onchange" action="{!refreshToAccountNames}" rerender="AccountToSelectList" />
	                                    </apex:inputField>
	                                    <script>
	                                        var PageURL = document.location.href;
	                                        var IsEditMode = PageURL.indexOf('id=');
	                                        if(IsEditMode >0 && ({!isMMXImplant}==false || '{!implant.Attended_Implant_Text__c}'=='Attended')){
	                                            document.getElementById('{!$Component.Implanting_Contact}').disabled = true; 
	                                        }
	                                        
	                                    </script>                           
	                                </apex:actionRegion>    
	                        </apex:outputPanel>                              
	                </apex:pageBlockSectionItem>   
	    
	<!-- BC - 201401 - Hide existing section and show an empty section when AFS/CRDM logic is applied - START -->
	<!-- 
	                <apex:pageBlockSectionItem id="PBSTDuration" rendered="{!isImplantSectionActive}">
	-->                
	                <apex:pageBlockSectionItem id="PBSTDuration" rendered="{!IF(AND(NOT(bIsAFS),isImplantSectionActive), true, false)}">
	                    <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Duration_Nr__c.label}" />
	                    <apex:outputLabel id="OutDuration">
	                        <apex:inputField id="Duration" value="{!implant.Duration_Nr__c}" onkeypress="return checkIntegetNumber(event)" />
	                        <script type="text/javascript">
	                            if({!isDurationActive}==false){                               
	
	                                document.getElementById('{!$Component.Duration}').readOnly = true; 
	                                document.getElementById('{!$Component.Duration}').style.backgroundColor = '#CCC';
	                                document.getElementById('{!$Component.Duration}').style.color = 'black';                        
	                                document.getElementById('{!$Component.Duration}').size = '20';
	
	                            }else{
	
	                                document.getElementById('{!$Component.Duration}').readOnly = false; 
	                                document.getElementById('{!$Component.Duration}').style.backgroundColor = 'white';                      
	                                document.getElementById('{!$Component.Duration}').size = '20';
	
	                            }                    
	                            function checkIntegetNumber(evt) 
	                            {
	                                 var enteredCode = (evt.which) ? evt.which : event.keyCode
	                                 if (enteredCode > 31 && (enteredCode < 48 || enteredCode > 57)) {
	                                    return false;
	                                 } 
	                                 else{   
	                                     validateTextFieldLength(enteredCode);
	                                     return true;
	                                 }                                      
	                            }
	                                  
	                            function validateTextFieldLength(enteredCode) 
	                            {
	                                if(document.getElementById('Page:form1:thisPage:PBSGenericInformation:PBSTDuration:Duration').value.length>3)
	                                {
	                                    if(enteredCode==13)
	                                        document.getElementById('Page:form1:thisPage:PBSGenericInformation:PBSTDuration:Duration').value=document.getElementById('Page:form1:thisPage:PBSGenericInformation:PBSTDuration:Duration').value.substring(0, 4);
	                                    else
	                                        document.getElementById('Page:form1:thisPage:PBSGenericInformation:PBSTDuration:Duration').value=document.getElementById('Page:form1:thisPage:PBSGenericInformation:PBSTDuration:Duration').value.substring(0, 3);                                    
	                                    return false;
	                                }
	                            else
	                                {
	                                    return true;
	                                }
	                            }
	                        </script>
	                    </apex:outputLabel>                       
	                </apex:pageBlockSectionItem>  
	                <apex:pageBlockSectionItem id="PBSTDurationEmpty" rendered="{!bIsAFS}">&nbsp;</apex:pageBlockSectionItem>
	<!-- BC - 201401 - Hide existing section and show an empty section when AFS/CRDM logic is applied - STOP -->
	
	    
	                <apex:pageBlockSectionItem id="PBST5" >
	                    <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Implant_Implanting_Account__c.label}" />
	                    <apex:outputPanel layout="block" styleClass="requiredInput">
	                        <apex:outputPanel layout="block" styleClass="requiredBlock"/> 
	                        <apex:selectList id="AccountToSelectList" size="1" value="{!implant.Implant_Implanting_Account__c}">
	                            <apex:selectOptions value="{!AffFromAccountNames}"/>
	                        </apex:selectList>
	                        <script>
	                            var PageURL = document.location.href;
	                            var IsEditMode = PageURL.indexOf('id=');                           
	                            if(IsEditMode >0 && ({!isMMXImplant}==false || '{!implant.Attended_Implant_Text__c}'=='Attended')){
	                                document.getElementById('{!$Component.AccountToSelectList}').disabled = true; 
	                            }
	                        </script>                
	                    </apex:outputPanel>                    
	                </apex:pageBlockSectionItem> 
	
	                <!--added by priti to add wait time and tarvel time on page-->
	<!-- BC - 201401 - Hide existing section and show an empty section when AFS/CRDM logic is applied - START -->
	<!-- 
	                <apex:pageblocksectionItem id="PBSWaitTime">
	-->
	                <apex:pageblocksectionItem id="PBSWaitTime" rendered="{!!bIsAFS}">
	                    <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Wait_Time__c.label}" rendered="{!visibleWaitTime}"/>
	                    <apex:outputLabel id="OutWaitTime">
	                        <apex:inputField value="{!implant.Wait_Time__c}" onkeypress="return checkIntegetNumberTime(event,this)" id="WaitTime"/>
	
	                        <script type="text/javascript">
	                            if({!isDurationActive}==false){                               
	                            
	                                document.getElementById('{!$Component.WaitTime}').readOnly = true; 
	                                document.getElementById('{!$Component.WaitTime}').style.backgroundColor = '#CCC';
	                                document.getElementById('{!$Component.WaitTime}').style.color = 'black';
	                                document.getElementById('{!$Component.WaitTime}').size = '20';
	                            
	                            }else{
	                            
	                                document.getElementById('{!$Component.WaitTime}').readOnly = false; 
	                                document.getElementById('{!$Component.WaitTime}').style.backgroundColor = 'white';                      
	                                document.getElementById('{!$Component.WaitTime}').size = '20';
	
	                            } 
	                        </script>                       
	                    </apex:outputLabel>
	                </apex:pageblocksectionItem>
	
	                <apex:pageblocksectionItem id="PBSWaitTimeEmpty" rendered="{!bIsAFS}">&nbsp;</apex:pageblocksectionItem>
	<!-- BC - 201401 - Hide existing section and show an empty section when AFS/CRDM logic is applied - STOP -->
	                
	                 
	                <apex:pageblocksectionItem ></apex:pageblocksectionItem>  
	<!-- BC - 201401 - Hide existing section and show an empty section when AFS/CRDM logic is applied - START -->
	                <apex:pageblocksectionItem id="PBSTravelTime" rendered="{!!bIsAFS}">
	<!--
	                <apex:pageblocksectionItem id="PBSTravelTime">
	-->
	                    <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Travel_Time__c.label}" rendered="{!visibleTravelTime}"/>
	                    <apex:outputLabel id="OutTravelTime">
	                        <apex:inputField value="{!implant.Travel_Time__c}" onkeypress="return checkIntegetNumberTime(event,this)" id="TravelTime"/>
	                        <script type="text/javascript">
	                            if({!isDurationActive}==false){                               
	                                
	                                document.getElementById('{!$Component.TravelTime}').readOnly = true; 
	                                document.getElementById('{!$Component.TravelTime}').style.backgroundColor = '#CCC';
	                                document.getElementById('{!$Component.TravelTime}').style.color = 'black';
	                                document.getElementById('{!$Component.TravelTime}').size = '20';
	
	                            }else{
	
	                                document.getElementById('{!$Component.TravelTime}').readOnly = false; 
	                                document.getElementById('{!$Component.TravelTime}').style.backgroundColor = 'white';                      
	                                document.getElementById('{!$Component.TravelTime}').size = '20';
	
	                            } 
	                        </script>
	                    </apex:outputLabel>                       
	
	                </apex:pageblocksectionItem>
	
	                <apex:pageblocksectionItem id="PBSTravelTimeEmpty" rendered="{!bIsAFS}">&nbsp;</apex:pageblocksectionItem>
	<!-- BC - 201401 - Hide existing section and show an empty section when AFS/CRDM logic is applied - STOP -->
	
	<!-- BC - 201401 - CR-2611 - Added Start Time - START -->
	                <apex:pageblocksectionItem ></apex:pageblocksectionItem>  
	                <apex:pageblocksectionItem id="PBStartTime" rendered="{!!bIsAFS}">
	                    <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Start_Time__c.label}" rendered="{!visibleStartTime}"/>
	                    <apex:outputLabel id="OutStartTime">
	                        <apex:inputField value="{!implant.Start_Time__c}" id="ifStartTime" rendered="{!isDurationActive}"/>
	                        <apex:inputText value="{!implant.Start_Time__c}" id="itStartTime" rendered="{!!isDurationActive}" style="background-color:#CCC;color:black" disabled="true" size="20"/>
	                        <script type="text/javascript">
	                            if({!isDurationActive}==false){                               
	                                
	                                document.getElementById('{!$Component.ifStartTime}').readOnly = true; 
	                                document.getElementById('{!$Component.ifStartTime}').style.backgroundColor = '#CCC';
	                                document.getElementById('{!$Component.ifStartTime}').style.color = 'black';
	                                document.getElementById('{!$Component.ifStartTime}').size = '20';
	
	                                document.getElementById('{!$Component.itStartTime}').readOnly = true; 
	                                document.getElementById('{!$Component.itStartTime}').style.backgroundColor = '#CCC';
	                                document.getElementById('{!$Component.itStartTime}').style.color = 'black';
	                                document.getElementById('{!$Component.itStartTime}').size = '20';
	
	                            }else{
	
	                                document.getElementById('{!$Component.ifStartTime}').readOnly = false; 
	                                document.getElementById('{!$Component.ifStartTime}').style.backgroundColor = 'white';
	                                document.getElementById('{!$Component.ifStartTime}').size = '20';
	
	                                document.getElementById('{!$Component.itStartTime}').readOnly = false; 
	                                document.getElementById('{!$Component.itStartTime}').style.backgroundColor = 'white';                      
	                                document.getElementById('{!$Component.itStartTime}').size = '20';
	
	                            } 
	                        </script>                       
	                    </apex:outputLabel>                       
	
	                </apex:pageblocksectionItem>
	                <apex:pageblocksectionItem id="PBSStartTimeEmpty" rendered="{!bIsAFS}">&nbsp;</apex:pageblocksectionItem>
	<!-- BC - 201401 - CR-2611 - Added Start Time - STOP -->
	
	                  
	                <script>
	                    function checkIntegetNumberTime(evt,eid) 
	                    {
	                        var enteredCode = (evt.which) ? evt.which : event.keyCode
	                        var elementid=eid;
	                        var elementvalue=eid.value;                     
	                        if (enteredCode > 31 && (enteredCode < 48 || enteredCode > 57)) {
	                            return false;
	                        } 
	                        else{
	                            validateTextFieldLengthForTime(enteredCode,elementid,elementvalue);
	                            return true;
	                        }
	                    }
	                    function validateTextFieldLengthForTime(enteredCode,elementid,elementvalue) 
	                    {
	                        if(elementvalue.length>2)
	                        {
	                            if(enteredCode==13)
	                            {
	                                if(elementid==document.getElementById('Page:form1:thisPage:PBSGenericInformation:PBSWaitTime:WaitTime')){
	                                    document.getElementById('Page:form1:thisPage:PBSGenericInformation:PBSWaitTime:WaitTime').value=elementvalue.substring(0, 4);
	                                }
	                                else if(elementid==document.getElementById('Page:form1:thisPage:PBSGenericInformation:PBSTravelTime:TravelTime')){
	                                    document.getElementById('Page:form1:thisPage:PBSGenericInformation:PBSTravelTime:TravelTime').value=elementvalue.substring(0, 4);
	                                }
	                            }   
	                            else{
	                                if(elementid==document.getElementById('Page:form1:thisPage:PBSGenericInformation:PBSWaitTime:WaitTime')){
	                                    document.getElementById('Page:form1:thisPage:PBSGenericInformation:PBSWaitTime:WaitTime').value=elementvalue.substring(0, 3);
	                                }
	                                else if(elementid==document.getElementById('Page:form1:thisPage:PBSGenericInformation:PBSTravelTime:TravelTime')){
	                                    document.getElementById('Page:form1:thisPage:PBSGenericInformation:PBSTravelTime:TravelTime').value=elementvalue.substring(0, 3);
	                                }                                   
	                                return false;
	                            }
	                        }                       
	                        else
	                        {
	                            return true;
	                        }
	                    }
	                </script>
	            </apex:pageBlockSection>
	    
	        
	            <apex:pageBlockSection title="Procedure Information" columns="1" id="PBS111">
	                <apex:pageBlockSectionItem id="PBST411" >
	                    <apex:outputLabel id="tbl">
	                        <div class="pbSubsection">
	                            <table class="detailList" border="0" cellpadding="2" cellspacing="2">

	                            	<!-- BUSINESS UNIT & PATIENT DETAILS (ETIOLOGIES) -->
	                                <tr>
	                                    <td width="1%" class="labelCol  first "><label><apex:outputLabel value="{!$ObjectType.Implant__c.fields.Business_Unit_Text__c.label}" /></label></td>
	                                    <td width="25%">
	                                        <apex:outputPanel layout="block" styleClass="requiredInput">
	                                        <apex:outputPanel layout="block" styleClass="requiredBlock"/>                         
	                                            <apex:inputField rendered="true" id="BusinessUnitPickList" value="{!implant.Business_Unit_Text__c}" />
	                                        </apex:outputPanel>
	                                    <script> document.getElementById('{!$Component.BusinessUnitPickList}').disabled = true; </script>
	                                    </td>
	
	                                    <td width="50%" class="labelCol  first ">Indications/Etiologies</td>
	                                    <td width="29%" rowspan="4">

	                                        <apex:actionRegion id="arEtiology" >
	
	                                            <apex:outputPanel id="opPatientDetailsSelectList_AFS" layout="block" styleClass="requiredInput">
	                                                <apex:outputPanel layout="block" styleClass="requiredBlock"/>                         
	                                                <apex:selectList multiselect="false" id="PatientDetailsSelectList_AFS" size="1" value="{!strSingleEtiology}" rendered="{!IF(bIsAFS, true, false)}">
	                                                    <apex:selectOptions value="{!PatientDetail}" /> 
	                                                    <apex:actionSupport action="{!etiologyChange}" 
	                                                        event="onchange" 
	                                                        rerender="opGUSpecific"  
	                                                    />
	                                                </apex:selectList>
	                                             </apex:outputPanel>                              
	
	                                            <apex:outputPanel id="opPatientDetailsSelectList_MS" layout="block">
													<apex:selectList multiselect="true" id="PatientDetailsSelectList" size="5" value="{!PatientDetails}" rendered="{!IF(AND(NOT(bIsAFS), NOT(blnSingleEtiology)), true, false)}">
														<apex:selectOptions value="{!PatientDetail}" /> 
														<apex:actionSupport action="{!etiologyChange}" 
															event="onchange" 
															rerender="opGUSpecific"  
														/>
													</apex:selectList>
												</apex:outputPanel>                              
	
	                                            <apex:outputPanel id="opPatientDetailsSelectList_SS" layout="block">
													<apex:selectList multiselect="false" id="PatientDetailsSelectList1" size="1" value="{!strSingleEtiology}" rendered="{!IF(AND(NOT(bIsAFS), blnSingleEtiology), true, false)}">
														<apex:selectOptions value="{!PatientDetail}"/> 
														<apex:actionSupport action="{!etiologyChange}" 
															event="onchange" 
															rerender="opGUSpecific"  
														/>
													</apex:selectList>      
												</apex:outputPanel>                              

											</apex:actionRegion>                        

	                                    </td>
	                                </tr>

	                                <!-- THERAPY -->
	                                <tr>
	                                    <td class="labelCol  first "><label><apex:outputLabel value="{!$ObjectType.Implant__c.fields.Therapy__c.label}" /></label></td>
	                                    <td>
	                                        <apex:actionRegion id="AR1" >          
	                                            <apex:outputPanel layout="block" styleClass="requiredInput">
	                                            <apex:outputPanel layout="block" styleClass="requiredBlock"/>  
	                                                    <apex:selectList onclick="GetIndex(this)" required="{!isImplantSectionActive}"  id="TherapySelectList" size="1" value="{!implant.Implant_Therapy__c}" disabled="{!bIsAFS}">
	                                                        <apex:selectOptions value="{!Therapies}"/>
	                                                        <apex:actionSupport action="{!therapyChange}" 
	                                                            event="onchange" 
	                                                            rerender="opImplantProcedureType,opProcedure,opPatientDetailsSelectList_SS,opPatientDetailsSelectList_MS,opPatientDetailsSelectList_AFS,referralsection,selectProductGroup,opGUSpecific,ProductsUsedPanel,selectReplacedProduct"  
	                                                            onsubmit="if(!confirmTherapyChange(this)) return false"
	                                                        />
	                                                    </apex:selectList>
	                                            </apex:outputPanel>        
	                                        </apex:actionRegion>
	                                        <script LANGUAGE="JavaScript">
	                                        
	                                            if({!isMMXImplant}==false)
	                                            {
	                                                document.getElementById('{!$Component.TherapySelectList}').disabled = true; 
	                                            }
	                                            var Selindex=0; 
	                                            function GetIndex(selectedItem)
	                                            {
	                                                var x = selectedItem.options;
	                                                for (var i=0;i<x.length; i++) 
	                                                {
	                                                    if (x[i].selected) {
	                                                        Selindex = i;
	                                                    }
	                                                }                               
	                                            }
	                                            function confirmTherapyChange(selectedItem)
	                                            {
	                                                // If old or new list id 'None' then don't ask for the confirmation
	                                                if(selectedItem.options[Selindex].value == '' ) // || selectedItem.options[selectedItem.selectedIndex].value==''
	                                                {
	                                                    return true ;
	                                                }
	                                                var agree=confirm("Are you sure you want to Change the Therapy?\nIf you continue then it will clear existing Product Information & Procedure Details.");
	                                                if (agree)
	                                                    return true ;
	                                                else
	                                                    //If User click on cancel then resert the previous therapy.
	                                                    selectedItem.selectedIndex = Selindex;
	                                                    return false ;
	                                            }
	                                        </script>        
	                                    </td>
	                                    <td>&nbsp;</td>                         
	                                </tr>

	                                <!-- IMPLANT PROCEDURE TYPE - row/field is needed because there is a Field Dependency between Implant_Procedure_Type__c and Therapy__c -->
	                                <tr style="display:none;">
	                                    <td class="labelCol  first">
	                                    	<label>
	                                    		<apex:outputLabel value="{!$ObjectType.Implant__c.fields.Implant_Procedure_Type__c.label}" />
	                                    	</label>
	                                   	</td>
	                                    <td>    
	                                        <apex:actionRegion id="arImplantProcedureType">
	                                        	<apex:outputPanel id="opImplantProcedureType" layout="block" styleClass="requiredInput">
	                                            	<apex:outputPanel layout="block" styleClass="requiredBlock"/>  
		                                            <apex:inputField id="ifImplantProcedureType" value="{!implant.Implant_Procedure_Type__c}" >
		                                                <apex:actionSupport event="onchange" action="{!ReplacedProductActive}" rerender="ReplacedProducts,referralsection,opGUSpecific,opProcedure" />
		                                            </apex:inputField>
		                                            <script>
		                                                if({!isMMXImplant}==false){
		                                                    document.getElementById('{!$Component.ifImplantProcedureType}').disabled = true; 
		                                                }
		                                            </script>
		                                    	</apex:outputPanel>  
	                                        </apex:actionRegion>
	                                    </td>
	                                    <td>&nbsp;</td>
	                                </tr>

	                                <!-- PROCEDURE -->
	                                <tr>
	                                    <td class="labelCol  first "><label><apex:outputLabel value="{!$ObjectType.Implant__c.fields.Procedure_Text__c.label}" /></label></td>
	                                    <td>    
	                                    
	                                        <apex:actionRegion id="AR10">
	                                        	<apex:outputPanel id="opProcedure" layout="block" styleClass="requiredInput">
	                                            	<apex:outputPanel layout="block" styleClass="requiredBlock"/>  
		                                            <apex:inputField id="ProcedureTexts" value="{!implant.Procedure_Text__c}" >
		                                                <apex:actionSupport event="onchange" action="{!ReplacedProductActive}" rerender="ReplacedProducts,referralsection,opGUSpecific" />
		                                            </apex:inputField>
		                                            <script>
		                                                if({!isMMXImplant}==false){
		                                                    document.getElementById('{!$Component.ProcedureTexts}').disabled = true; 
		                                                }
		                                            </script>
		                                    	</apex:outputPanel>  
	                                        </apex:actionRegion>
	                                    </td>
	                                    <td>&nbsp;</td>
	                                </tr>

	                                <!-- PRODUCT GROUP -->
	                                <tr>
	                                    <td class="labelCol  first "><label><apex:outputLabel value="{!$ObjectType.Implant__c.fields.Product_Group__c.label}" /></label></td>
	                                    <td>
	                                        <apex:actionRegion id="AR11" >          
	 
	                                            <apex:outputPanel layout="block" styleClass="">
	                                                <apex:outputPanel layout="block" styleClass=""/>
	                                                <apex:selectList id="selectProductGroup" value="{!implant.Product_Group__c}" size="1" multiselect="false">
	                                                   <apex:selectOptions value="{!productGroups}" />
	                                               </apex:selectList>
	                                           </apex:outputPanel>
	         
	                                        </apex:actionRegion> 
	                                    </td>
	                                </tr>
	                                                                                       
	                            </table>
	                        </div>
	                    </apex:outputLabel>
	                </apex:pageBlockSectionItem>
	            </apex:pageBlockSection>            
	
	            <!-- BC - 201501 - CR-6835 - START -->
	            <apex:outputPanel id="opGUSpecific">
	                <apex:pageBlockSection title="GU Specific" columns="2" id="pbsGUSpecific" rendered="{!bShowSection_GUSpecific}">
	                    <!-- Therapy_Text__c - needs to be on the page because it controls Implant_Technique_Text__c -->
	                    <apex:pageBlockSectionItem id="pbsiImplantTherapy" dataStyle="display:none;" labelStyle="display:none;">
	                        <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Therapy_Text__c.label}" />
	                        <apex:inputField value="{!implant.Therapy_Text__c}" />
	                    </apex:pageBlockSectionItem>
	
	                    <!-- Implant_Technique_Text__c -->
	                    <apex:pageBlockSectionItem id="pbsiImplantTechnique" labelStyle="display:{!IF(bShowImplantTechnique, '', 'none')}" dataStyle="display:{!IF(bShowImplantTechnique, '', 'none')}">
	                        <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Implant_Technique_Text__c.label}" />
	                        <apex:inputField value="{!implant.Implant_Technique_Text__c}" />
	                    </apex:pageBlockSectionItem>
	
	                    <!-- Previous_Treatment__c -->
	                    <apex:pageBlockSectionItem id="pbsiPreviousTreatment" labelStyle="display:{!IF(bShowPreviousTreatment, '', 'none')}" dataStyle="display:{!IF(bShowPreviousTreatment, '', 'none')}">
	                        <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Previous_Treatment__c.label}" />
	                        <apex:selectList value="{!implant.Previous_Treatment__c}">
	                            <apex:selectOptions value="{!lstSO_PreviousTreatment}" />
	                        </apex:selectList>
	                    </apex:pageBlockSectionItem>
	
	                </apex:pageBlockSection>
	
	            </apex:outputPanel>
	            <!-- BC - 201501 - CR-6835 - STOP -->
	
	    
	            <!-- End of the specific Account / Contact section for Implant -->  
	            <!-- Start Products Used Section -->              
	            <apex:pageBlockSection title="Product Information" columns="1" id="ProductsUsedSection" rendered="{!isMMXImplant}">
	
	                <apex:outputPanel id="ProductsUsedPanel">
	                <!-- Product Selection Area -->
	                    <apex:actionRegion id="AR4">
	                        <apex:pageBlockTable columns="3" columnsWidth="30%,20%,50%" value="{!AddProductsLists}" var="p" width="950px" id="showProductsUsed" border="1">
	                            <apex:column >
	                                <apex:facet name="header">Implanted/Consumed Product</apex:facet>
	                                    <apex:outputField value="{!p.Product2__c}" />
	                            </apex:column>
	                            <apex:column >
	                                <apex:facet name="header">Quantity</apex:facet>
	                                    <apex:outputText value="{0, number, 0}">
	                                        <apex:param value="{!p.Quantity__c}"/>
	                                    </apex:outputText>
	                            </apex:column>
	                            <apex:column >
	                                <apex:facet name="header">Implant Position</apex:facet>
	                                <apex:outputField value="{!p.Lead_Position__c}" />
	                            </apex:column>
	                            <apex:column >
	                                <apex:commandLink rerender="ProductsUsedPanel" action="{!removeProductUsed}" value="Remove" immediate="true" title="Delete this line item." styleClass="delbold">
	                                    <apex:param name="selectedProductitem" value="{!p.Product2__c}" />
	                                </apex:commandLink>
	                           </apex:column>
	                       </apex:pageBlockTable>
	                       <br/>
	                       <table width="950px" border="0">
	                           <tr>
	                               <td width="30%">
	                                   <h1>Implanted/Consumed Product</h1>
	                               </td>
	                               <td width="20%">
	                                   <h1>Quantity</h1>
	                               </td>
	                               <td width="20%">
	                                   <h1>Implant Position</h1>
	                               </td>
	                               <td width="30%">&nbsp;</td>
	                           </tr>
	                           <tr>
	                           <td>
	                               <apex:outputPanel layout="block" styleClass="requiredInput">
	                                   <apex:outputPanel layout="block"/>
	                                   <apex:selectList id="selectProduct" value="{!ImplantProduct}" size="1" multiselect="false">
	                                       <apex:selectOptions value="{!ImplantProducts}" />
	                                   </apex:selectList>
	                               </apex:outputPanel>
	                           </td>
	                           <td>
	                               <apex:selectList id="selectQuantity" value="{!Quantity}" size="1" multiselect="false">
	                                   <apex:selectOptions value="{!Quantities}" />
	                               </apex:selectList>
	                           </td>
	                           <td>
	                               <apex:outputPanel layout="block">
	                                   <apex:outputPanel layout="block"/>
	                                   <apex:selectList id="leadPosition" value="{!leadPosition}" size="1" multiselect="false">
	                                       <apex:selectOptions value="{!LeadPositionOptions}" />
	                                   </apex:selectList>
	                               </apex:outputPanel>
	                           </td>
	                           <td>
	                               <apex:commandButton rerender="ProductsUsedPanel, err" action="{!addProduct}" value="Add Product" title="Add Product" />
	                           </td>
	                       </tr>
	                   </table>
	               </apex:actionRegion>
	            <!-- End Products Used Section -->
	           </apex:outputPanel>
	           <br/>
	       </apex:pageBlockSection>
	       
	
	       <apex:outputPanel id="ReplacedProducts" >
	           <apex:pageBlockSection title="Replaced Product" columns="1" id="ReplacedProductsUsedSection" rendered="{!if((isReplacedProductActiveManu==true && isMMXImplant==true),true,false)}">        
	               <apex:pageBlockSectionItem id="PBSTReplacedProducts" >
	                   <apex:outputLabel id="OutLabReplacedProducts">
	                       <div class="pbSubsection">
	                           <table class="detailList" border="0" cellpadding="2" cellspacing="2">
	                               <tr>
	                                   <td class="labelCol  first "><label><apex:outputLabel value="{!$ObjectType.Implant__c.fields.Manufacturer_ID__c.label}" /></label></td>
	                                   <td>
	                                        <apex:actionRegion id="ARManufacturer">
	                                            <apex:inputField rendered="{!isReplacedProductActiveManu}" id="Manufacturer" value="{!implant.Manufacturer_ID__c}" >
	                                                <apex:actionSupport event="onchange" rerender="selectReplacedProduct" />
	                                            </apex:inputField>                                                          
	                                        </apex:actionRegion>
	                                    </td>               
	                                </tr>   
	                                <tr>
	                                    <td class="labelCol  first "><label><apex:outputLabel value="{!$ObjectType.Implant__c.fields.Replaced_Product_ID__c.label}" /></label></td>
	                                    <td>
	                                        <apex:selectList rendered="{!isReplacedProductActiveManu}" id="selectReplacedProduct" value="{!implant.Replaced_Product_ID__c}" size="1" multiselect="false">
	                                            <apex:selectOptions value="{!ReplacedProducts}" />
	                                        </apex:selectList>  
	                                     </td>              
	                                </tr>   
	                                <tr>
	                                    <td class="labelCol  first "><label><apex:outputLabel value="{!$ObjectType.Implant__c.fields.Replacement_Reason_Text__c.label}" /></label></td>
	                                    <td>
	                                        <apex:inputField rendered="{!isReplacedProductActiveManu}" id="ReplacementReason" value="{!implant.Replacement_Reason_Text__c}" />
	                                    </td>               
	                                </tr>   
	                                <tr>
	                                    <td class="labelCol  first "><label><apex:outputLabel value="{!$ObjectType.Implant__c.fields.Replacement_Longevity_Nr__c.label}" /></label></td>
	                                    <td>
	                                        <apex:inputField rendered="{!isReplacedProductActiveManu}" id="ReplacementLongevity" value="{!implant.Replacement_Longevity_Nr__c}" />
	                                    </td>               
	                                </tr>   
	                            </table>
	                        </div>
	                    </apex:outputLabel>
	                </apex:pageBlockSectionItem>
	            </apex:pageBlockSection>
	        </apex:outputPanel>     
	
	
	    <!-- Beginning of the specific Account / Contact section for Implant -->
	        <apex:outputPanel id="referralsection">
	            <apex:pageBlockSection title="Referral Information" columns="2" id="ImplantSection" rendered="{!boolReferralInfo}">
	                <apex:pageBlockSectionItem id="PBST9">
	                    <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Implant_Referring_Contact__c.label}" />    
	                    <apex:actionRegion id="ARReferral_Information">
	                        <apex:outputLabel id="OutLabImplantReferringContact">   
	                            <apex:inputField rendered="{!isReferringContactLookup}" id="Reffering_Contact" value="{!implant.Implant_Referring_Contact__c}" >
	                                <apex:actionSupport event="onfocus" action="{!refreshRefferingFromAccountNames}" rerender="OutLabImplantReferringAccount,outPanelReferringDepartment" />
	                            </apex:inputField> 
	                            <script>//document.getElementById('{!$Component.AccountFromSelectList}').disabled = true;</script> 
	                                      
	                            <apex:selectList rendered="{!isReferringContactPicklist}" id="AccountFromSelectList" size="1" value="{!implant.Implant_Referring_Contact__c}" >
	                                <apex:selectOptions value="{!AffFromContactNames}"/> 
	                                <apex:actionSupport event="onchange" rerender="outPanelReferringDepartment" />
	                            </apex:selectList>              
	                        </apex:outputLabel>
	                    </apex:actionRegion>
	                </apex:pageBlockSectionItem>

	                 <apex:pageBlockSectionItem id="PBST10" rendered="{!bReferralDepartment}">
	                     <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Referring_Department_Text__c.label}" />
	                         <apex:outputLabel id="outPanelReferringDepartment">            
	                         <apex:inputField id="ReferringDepartment" value="{!implant.Referring_Department_Text__c}" />        
	                         <script>
                                 if(document.getElementById('Page:form1:thisPage:ImplantSection:PBST9:Reffering_Contact_lkid').value!='' && document.getElementById('Page:form1:thisPage:ImplantSection:PBST8:ContactFromSelectList').value!='')
                                 {
                                     document.getElementById('{!$Component.ReferringDepartment}').value='';
                                     document.getElementById('{!$Component.ReferringDepartment}').disabled = true;
                                 }                        
                                 if(document.getElementById('Page:form1:thisPage:ImplantSection:PBST9:AccountFromSelectList').value!='' && document.getElementById('Page:form1:thisPage:ImplantSection:PBST8:Reffreing_Account_lkid').value!='')
                                 {
                                     document.getElementById('{!$Component.ReferringDepartment}').value='';
                                     document.getElementById('{!$Component.ReferringDepartment}').disabled = true;
                                 }                                           
	                         </script> 
                        </apex:outputLabel>  
                    </apex:pageBlockSectionItem>

                    <apex:pageBlockSectionItem rendered="{!bReferralSpecialty}">
	                     <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Referral_Specialty_Text__c.label}" />	                                    
	                     <apex:selectList value="{!implant.Referral_Specialty_Text__c}" size="1" disabled="{!ISBLANK(implant.Implant_Therapy__c)}">
	                     	<apex:selectOptions value="{!referralSpecialties}"/>
	                     </apex:selectList>
                    </apex:pageBlockSectionItem>
	                
	                    <apex:pageBlockSectionItem id="PBST8" >
	                        <apex:outputLabel value="{!$ObjectType.Implant__c.fields.Implant_Referring_Account__c.label}" />
	                            <apex:outputLabel id="OutLabImplantReferringAccount">                   
	                                <apex:actionRegion id="AR3">               
	                                    <apex:inputField rendered="{!isReferringAccountLookup}" id="Reffreing_Account" value="{!implant.Implant_Referring_Account__c}" >
	                                        <apex:actionSupport event="onfocus" action="{!refreshFromAccountNames}" rerender="OutLabImplantReferringContact,outPanelReferringDepartment" />
	                                    </apex:inputField>    
	            
	                                    <script>//document.getElementById('{!$Component.Reffreing_Account}').disabled = true;</script> 
	                                    
	                                    <apex:selectList rendered="{!isReferringAccountPicklist}" id="ContactFromSelectList" size="1" value="{!implant.Implant_Referring_Account__c}" >
	                                        <apex:selectOptions value="{!AffToAccountNames}"/> 
	                                        <apex:actionSupport event="onchange" rerender="outPanelReferringDepartment" />                            
	                                    </apex:selectList>
	                                    <script>                                   
	                                    </script>
	                                </apex:actionRegion>
	                            </apex:outputLabel>
	                        </apex:pageBlockSectionItem>                     
	                    </apex:pageBlockSection>
	                </apex:outputPanel>
	          
	                <apex:pageBlockButtons >
	                    <apex:commandButton action="{!next}" value="Save & Continue" onclick="return enableControls()"/>
	                    <apex:commandButton action="{!cancel}" value="Cancel" immediate="true"/>
	                </apex:pageBlockButtons>
	            </apex:pageBlock>

            <script>
                function enableControls()
                {
                    document.getElementById('Page:form1:thisPage:PBSGenericInformation:PBST5:AccountToSelectList').disabled = false;
                    document.getElementById('Page:form1:thisPage:PBS111:PBST411:TherapySelectList').disabled = false;
                    
                    //added by priti in order to show a popup message when Referring Contact is null.                     
                    var referContact=document.getElementById('{!$Component.Page:form1:thisPage:ImplantSection:PBST9:Reffering_Contact}').value;                                         
                    var attendedImplant=document.getElementById('{!$Component.Page:form1:thisPage:PBSGenericInformation:PBSTAttendedImplantText:AttendedImplantText}').value;                    
                    var businessUnit=document.getElementById('{!$Component.Page:form1:thisPage:PBS111:PBST411:BusinessUnitPickList}').value;                    
                    var procedure=document.getElementById('{!$Component.Page:form1:thisPage:PBS111:PBST411:ProcedureTexts}').value; 
                    if(referContact.length==0 && attendedImplant=='Attended'&& businessUnit=='Europe - Neuromodulation' && (procedure=='New Implant' || procedure=='Test')){
                        var confVal = confirm("Referring Contact is not specified.Press OK to continue and Cancel to Select Referring Contact");
                        if(confVal== true){                   
                            return true;
                        }
                        else{       
                            return false;                   
                        }
                    }                                
                 }
            </script>
        </apex:form>
    </apex:outputPanel>
    
</apex:page>