<apex:page showHeader="false" sidebar="false" showChat="false">
  <p>Click the links below to view this dashboard broken down into different sub-regions:</p>
  <ul>
      <li><apex:outputLink value="/01Z20000000xnuU" id="australiaLink" target="_top">Australia</apex:outputLink></li>
      <li><apex:outputLink value="/01Z20000000xnuZ" id="nzLink" target="_top">New Zealand</apex:outputLink></li>
  </ul>
  <p>&nbsp;</p>

</apex:page>