<apex:page showHeader="false" sidebar="false" showChat="false">
  <p>Click the links below to view this dashboard broken down into different sub-regions:</p>
  <ul>
      <li><apex:outputLink value="/01Z20000000edRf" id="wecanLink" target="_top">Western Europe &amp; Canada</apex:outputLink></li>
      <li><apex:outputLink value="/01Z20000000xnPl" id="ceeLink" target="_top">Central &amp; Eastern Europe</apex:outputLink></li>
  </ul>
  <p>&nbsp;</p>

</apex:page>