<apex:page showHeader="false" sidebar="false" showChat="false">

<p><apex:outputLink value="/01Z20000000eebd" id="germanyLoginDetailLink" target="_top">Click to view Germany login adoption dashboard</apex:outputLink></p>

</apex:page>