<apex:page controller="controllerDIB_Competitor_iBase" sidebar="false" showHeader="true" tabStyle="My_Competitor_IBase__tab" action="{!Init}">
<apex:includeScript value="{!$Resource.jquery}"/>
<apex:includeScript value="{!$Resource.MDT_DiB_Scripts}"/>
<head>
<style type="text/css"> 
.redText { color:red; }
.greenText {
    color:green; 
    text-align:center ;
}
.buttonSubmit{ 
    background-color:#CC5C02;
    background-image:none;
}
.origin {font-weight:bDIBold; bgcolor:"#FF0000" ; }
.originCell { bgcolor:"#FF0000" ; } 
.cHeader { text-align:center;}  
</style>
<script type="text/javascript">
    function setConfirmUnload(on) {
         window.onbeforeunload = (on) ? unloadMessage : null;
    }
    function unloadMessage() {    
        return 'Your changes have not been saved. To stay on the page so you can save your changes, click Cancel.';
    }
    
    $(document).ready(function() { 
     
     $(':input',document.DIBForm).bind("change", function() { setConfirmUnload(true); }); // Prevent accidental navigation away
    });
    
    function showAlertMessage() {
    // function is used when clicking any of pagination buttons on the page
    // NOT USED whebn trying to navigate away from the page
        if (window.onbeforeunload) {
            return(confirm(unloadMessage()))
        }
    }
</script>
</head>
<body id="DIBBody">
<apex:form id="DIBForm">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td valign="top" width="20%" >
        <table width="100%">
        <tr>
            <td>    
                <apex:pageBlock title="Selection" tabStyle="Dib_Invoice_Line__c">
                <apex:pageMessages />
                    <apex:pageBlockSection title="Department/Period" columns="1" showHeader="True" id="Selection" >
                        <apex:PageBlockSectionItem >
                            <apex:outputText value="Fiscal Period"/>
                            <apex:selectList value="{!periodChosen}" size="1" >
                                <apex:selectOptions value="{!periodItems}"> 
                                </apex:selectOptions>
                            </apex:selectList>
                        </apex:PageBlockSectionItem>                
                        <apex:PageBlockSectionItem >
                            <apex:outputText value="Product"/>
                            <apex:selectList value="{!productFilter}" size="1" style="width:125px;" >
                                <apex:selectOptions value="{!productFilterOptions}" />
                            </apex:selectList>                            
                        </apex:PageBlockSectionItem> 

                        <apex:PageBlockSectionItem >    
                            <apex:outputText value="Territory"/>                  
                            <apex:selectList value="{!territoryFilter}" size="1" style="width:125px;" >
                                <apex:selectOptions value="{!territoryFilterOptions}" />
                            </apex:selectList>
                        </apex:PageBlockSectionItem>
 
                        <apex:PageBlockSectionItem >    
                            <apex:outputText value="Segment"/>                  
                            <apex:selectList value="{!departmentSegment}" size="1" style="width:125px;" >
                                <apex:selectOptions value="{!segmentFilterOptions}" />
                            </apex:selectList>
                        </apex:PageBlockSectionItem>
                                                                               
                        <apex:pageBlockSectionItem >
                            <apex:outputText value="Account Name Filter" / >
                            <apex:outputPanel layout="block">
                                <apex:inputText value="{!searchCriteria}" />                                
                            </apex:outputPanel>
                        </apex:pageBlockSectionItem>
                        <apex:PageBlockSectionItem >
                            <apex:outputText />     
                            <apex:commandButton action="{!displayCompetitors}" value="Display" reRender="PageBlockCompetitor, submitButton, Selection, submitResult"  status="PageBlockCompetitorStatus" />
                        </apex:PageBlockSectionItem>    
                    </apex:pageBlockSection>
                </apex:pageBlock>
            </td>
        </tr>       
        </table>
    </td>
    <td width="80%">
        <apex:sectionHeader title="My Competitor IB" subtitle="Competitor Installed Base Development"/>                         
        
        <apex:pageBlock title="Competitors" mode="View" id="PageBlockCompetitor"  helpTitle="How to enter competitor information" tabStyle="Dib_Invoice_Line__c" helpUrl="/" >
        
            <apex:actionStatus startText="(Retrieving data...)"  id="PageBlockCompetitorStatus"
                onStart="document.body.style.cursor = 'wait';return true;" 
                    onStop="document.body.style.cursor = 'default';return true;" >
                 <apex:facet name="start">
                     <center>
                         Retrieving data... &nbsp;&nbsp; 
                         <img src="{!URLFOR($Resource.DiB_Icons, 'Loading.gif')}" border="0" />
                         &nbsp;&nbsp;
                     </center>
                 </apex:facet>
                 <apex:facet name="stop">
                    &nbsp;
                 </apex:facet> 
            </apex:actionStatus>
            
            <apex:messages />
                                  
            <apex:pageBlockButtons >
                <apex:commandButton rendered="{!canShowDG}" action="{!save}" value="Save" id="theButton" rerender="PageBlockCompetitor, submitResult"  status="PageBlockCompetitorSaveStatus"/>
            </apex:pageBlockButtons>
                            
            <apex:outputPanel layout="none" id="submitButton" >
                <div align="right"><apex:commandbutton styleClass="buttonSubmit" onclick="if (!confirmation('your competitor IB allocations','{!periodChosen2}')) return false;" rerender="submitStatus, submitResult" value="Submit"  rendered="{!showSubmitButton == True}" action="{!SubmitcurrentPeriod}" status="submitStatus"  /></div>
            </apex:outputPanel>
            
            <apex:outputPanel layout="none" rendered="{!not(canShowDG)}">
                    <b>No Available Items Found.</b>
            </apex:outputPanel>     
            
            
            <apex:outputText id="submitResult" value="{!submitResult}" style="color:black;font-weight: bold;align:center"/>
            
            <apex:outputPanel layout="none" rendered="{!canShowDG}">            
              
                <table width="100%">
                    <tr>            
                        <td>
                            Page #{!pageNumber} of #{!totalPages} &nbsp; (<i>a total of {!NrOfItems} items</i>). 
                            
                        </td>
                        <td align="right" width="40%">
                            <apex:panelGrid columns="5" >                    
                                <apex:commandLink onclick="if (!showAlertMessage()) return false;" action="{!first}" rerender="PageBlockCompetitor" status="PageBlockPaginationStatus">First</apex:commandlink>
                                <apex:commandLink onclick="if (!showAlertMessage()) return false;" action="{!previous}" rendered="{!hasPrevious}" rerender="PageBlockCompetitor" status="PageBlockPaginationStatus">Previous</apex:commandlink>
                                <apex:commandLink onclick="if (!showAlertMessage()) return false;" action="{!next}" rendered="{!hasNext}" rerender="PageBlockCompetitor" status="PageBlockPaginationStatus">Next</apex:commandlink>
                                <apex:commandLink onclick="if (!showAlertMessage()) return false;" action="{!last}" rerender="PageBlockCompetitor" status="PageBlockPaginationStatus">Last</apex:commandlink>
                                <apex:outputPanel >
                                    &nbsp; &nbsp; Go to page 
                                    <apex:selectList value="{!selectedPage}" size="1"  id="org">
                                       <apex:SelectOptions value="{!pages}"></apex:SelectOptions>
                                       <apex:actionSupport event="onchange" action="{!changePage}" rerender="PageBlockCompetitor" status="PageBlockPaginationStatus"/>      
                                    </apex:selectList>
                                </apex:outputPanel>
                            </apex:panelGrid>
                        </td>
                    </tr>
                </table>
                
                <div class="pbSubheader first tertiaryPalette" >
                    <img  class="hideListButton" src="/s.gif" alt="Hide Section" name="section1" onclick="twistSection(this);" style="cursor: pointer;" title="Hide Section"/>
                    <h3><apex:outputText value="My Competitor Sales for Period : {!periodChosen2}" /></h3>
                </div>
                
                <apex:actionStatus startText="(Retrieving data...)"  id="submitStatus"
                    onStart="document.body.style.cursor = 'wait';return true;" onStop="document.body.style.cursor = 'default';return true;" >
                     <apex:facet name="start">
                        <center>Submitting period ... &nbsp;&nbsp;
                             <img src="{!URLFOR($Resource.DiB_Icons, 'Loading.gif')}" border="0" />
                             
                         </center>
                     </apex:facet>
                     <apex:facet name="stop" >&nbsp;</apex:facet> 
                </apex:actionStatus>                        
                            
                
                    
                <apex:actionStatus startText="(Retrieving data...)"  id="PageBlockCompetitorSaveStatus"
                    onStart="document.body.style.cursor = 'wait';return true;" 
                        onStop="document.body.style.cursor = 'default';return true;" >
                     <apex:facet name="start">
                         <center>
                             Saving data...   &nbsp;&nbsp;
                             <img src="{!URLFOR($Resource.DiB_Icons, 'Loading.gif')}" border="0" />
                             &nbsp;&nbsp;
                         </center>
                     </apex:facet>
                     <apex:facet name="stop">
                        &nbsp;      
                     </apex:facet> 
                </apex:actionStatus>            
                    
                <apex:actionStatus startText="(Retrieving data...)"  id="PageBlockPaginationStatus"
                    onStart="document.body.style.cursor = 'wait';return true;" 
                        onStop="document.body.style.cursor = 'default';return true;" >
                     <apex:facet name="start">
                         <center>                       
                             Loading  ... &nbsp;&nbsp;
                             <img src="{!URLFOR($Resource.DiB_Icons, 'Loading.gif')}" border="0" />
                             &nbsp;&nbsp; <br /> <br />
                         </center>
                     </apex:facet>
                     <apex:facet name="stop">        
                        &nbsp;      
                     </apex:facet> 
                </apex:actionStatus>        
                
                <!-- ################### MAIN DATAGRID ################### ! -->
                <div style="width:100%;overflow-y:scroll;overflow-x:hidden;">    
                <table BGCOLOR="#637CBE" width="100%"  border="0" cellspacing="0"  cellpadding="0">
                <tr>
                    <td class="dataCell"></td >
                    <apex:repeat value="{!competitors}" var="curComp">
                    <td  class="dataCell" align="center" colspan="2">
                        <h2><b><apex:outputField value="{!curComp.Name}" style="color:black" /></b></h2>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    </apex:repeat>                  
                </tr>               
                <tr> 
                    <td id="headerFirst"><b>Sales Force Account</b></td>
                    <apex:repeat value="{!competitors}" var="curComp">
                    <td id="h1{!curComp.Id}" class="dataCell" align="right">
                        <span style="color:black">Current&nbsp;IB&nbsp;</span>
                    </td>
                    <td id="h2{!curComp.Id}" align="left">
                        <span style="color:black">IB&nbsp;Change&nbsp;</span>
                    </td>
                    </apex:repeat>  
                </tr>
                </table> 
                </div>
                <div style="width:100%;height:250px;overflow-y:scroll;overflow-x:hidden;">  
                <table width="100%" border="0"cellspacing="0"  cellpadding="0">

                    <tr> 
                        <td id="nameRow">&nbsp;</td>
                        <apex:repeat value="{!competitors}" var="curComp">
                        <td id="d1{!curComp.Id}" >
                            
                        </td>
                        <td id="d2{!curComp.Id}" >
                            
                        </td>
                        </apex:repeat>  
                    </tr>
                        
                    <apex:repeat value="{!DIB_Comp_Class_iBases}" var="cur_DIB_Comp_Class_iBase">    
                        <tr valign="middle" onclick= "if (window.hiOn){hiOn(this);}" onmouseover="if (window.hiOn){hiOn(this);}" onmouseout="if (window.hiOff){hiOff(this);}" onblur="if (window.hiOff){hiOff(this);}" onfocus="if (window.hiOn){hiOn(this);}"> 
                            <td height="25px" valign="middle">                          
                                <apex:outputField value="{!cur_DIB_Comp_Class_iBase.SFAccount.System_Account__c}" />&nbsp;(                                
                                <apex:outputField value="{!cur_DIB_Comp_Class_iBase.dibDepartment.Department_Master_Name__c}" />)
                            </td>
                            <apex:repeat value="{!cur_DIB_Comp_Class_iBase.comp_iBase}" var="curComp_iBase">
                                <td  align="right">
                                    <span style="color:black">
                                    <apex:outputField value="{!curComp_iBase.Current_IB__c}" styleClass="redText"/>&nbsp;&nbsp;</span> 
                                </td>
                                <td  align="left">
                                    &nbsp;&nbsp;
                                    <span style="color:black">
                                        <apex:inputField onblur="validate(this)" id="SYSTEM_FIELD_Month_IB__c" style="width : 30px;"  value="{!curComp_iBase.SYSTEM_FIELD_Month_IB__c}" />
                                    </span>                         
                                </td>
                            </apex:repeat>
                        </tr>
                    </apex:repeat>  
                </table>
                </div> 
                <!-- Script to align the header fields with data fields -->                               
                <script>
                    var obj1 = document.getElementById('nameRow'); 
                    var obj2 = document.getElementById('headerFirst');                         
                    obj2.style.width = obj1.clientWidth + 'px';
                         
                    <apex:repeat value="{!competitors}" var="curComp">
                        obj1 = document.getElementById('d1{!curComp.Id}');
                        obj2 = document.getElementById('h1{!curComp.Id}');                         
                        obj1.style.width = obj2.clientWidth + 'px';                    
                        obj1 = document.getElementById('d2{!curComp.Id}');
                        obj2 = document.getElementById('h2{!curComp.Id}');                         
                        obj1.style.width = obj2.clientWidth + 'px';                         
                    </apex:repeat>
                </script>                 
        </apex:outputPanel>
        </apex:pageBlock>
    </td>
    </tr>
    </table>
</apex:form>
</body>
</apex:page>