<apex:page standardController="Implant_Scheduling_Team__c" extensions="ctrlExt_ImplantSchedulingTeam_New">
<!-- 
	<apex:sectionHeader title="Implant Scheduling Team Edit" subtitle="New Implant Scheduling Team"/>

	<apex:form id="mainForm" >
		
		<apex:actionstatus id="status">
            <apex:facet name="start">            
                <div>
                    <div style="position : absolute; width : 100%; height : 100%;opacity : 0.3;top : 0;left : 0;background-color : white;z-index : 8;-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';" ></div>
                    <div style="position : absolute;top: 100px;left: 50%;margin-top: -50px;margin-left: -50px;z-index:10;font-weight:bold;font-size:16pt;color : black;">                                          
                        Loading...                          
                    </div>
                </div>    
            </apex:facet>
        </apex:actionstatus>
        
        <apex:pageMessages />
		
		<apex:pageBlock title="Implant Scheduling Team Edit" mode="edit">
			
			<apex:pageBlockButtons >
				<apex:commandButton action="{!save}" value="Save"/>
				<apex:commandButton action="{!cancel}" value="Cancel"/>
			</apex:pageBlockButtons>
			
			<apex:pageBlockSection >
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.Implant_Scheduling_Team__c.fields.Name.Label}" />	
					<apex:outputPanel layout="block" styleclass="requiredInput">		                
		                <apex:outputPanel layout="block" styleclass="requiredBlock"	/>
						<apex:inputField value="{!Implant_Scheduling_Team__c.Name}"/>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
												
				<apex:inputField value="{!Implant_Scheduling_Team__c.Business_Unit__c}"/>
								
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.Implant_Scheduling_Team__c.fields.Country__c.Label}" />	
					<apex:outputPanel layout="block" styleclass="requiredInput">		                
		                <apex:outputPanel layout="block" styleclass="requiredBlock"	/>
						<apex:inputField value="{!Implant_Scheduling_Team__c.Country__c}">
							<apex:actionSupport event="onchange" action="{!countrySelected}" rerender="mainForm" />
						</apex:inputField>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				<apex:inputField value="{!Implant_Scheduling_Team__c.Sub_Business_Unit__c}"/>
											
			</apex:pageBlockSection>
			
			<apex:pageBlockSection title="Other information" rendered="{!NOT(ISBLANK(Implant_Scheduling_Team__c.Country__c))}" columns="1">
				
				<apex:pageBlockSectionItem rendered="{!usesExtendedTeam}">
				
					<apex:outputLabel value="Is core team?" />
					
					<apex:inputCheckbox value="{!isCoreTeam}" >
						<apex:actionSupport event="onchange" rerender="mainForm" />
					</apex:inputCheckbox>
					
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem rendered="{!OR( NOT(usesExtendedTeam), AND(usesExtendedTeam, isCoreTeam)) }">
					<apex:outputLabel value="{!$ObjectType.Implant_Scheduling_Team__c.fields.Display_Case_fields__c.Label}" />	
					<apex:outputPanel layout="block" styleclass="requiredInput">		                
		                <apex:outputPanel layout="block" styleclass="requiredBlock"	/>
						<apex:inputField value="{!Implant_Scheduling_Team__c.Display_Case_fields__c}" style="width : 95%"/>
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem rendered="{!AND(usesExtendedTeam, NOT(isCoreTeam)) }">
					<apex:outputLabel value="{!$ObjectType.Implant_Scheduling_Team__c.fields.Core_Team__c.Label}" />	
					<apex:outputPanel layout="block" styleclass="requiredInput">		                
		                <apex:outputPanel layout="block" styleclass="requiredBlock"	/>
						<apex:inputField value="{!Implant_Scheduling_Team__c.Core_Team__c}" />
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem rendered="{!AND(usesExtendedTeam, NOT(isCoreTeam)) }">
					<apex:outputLabel value="{!$ObjectType.Implant_Scheduling_Team__c.fields.Extended_Team_Level__c.Label}" />	
					<apex:outputPanel layout="block" styleclass="requiredInput">		                
		                <apex:outputPanel layout="block" styleclass="requiredBlock"	/>
						<apex:inputField value="{!Implant_Scheduling_Team__c.Extended_Team_Level__c}" />
					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
			</apex:pageBlockSection>

		</apex:pageBlock>
		
	</apex:form>
	 -->
</apex:page>