<apex:page standardController="Implant__c" extensions="controllerImplantCloneWithDetails" action="{!CheckImplant}">

    <apex:form >

        <apex:pageBlock >

            <apex:outputText style="font-weight:bold;" value="{!WarnText}"/>
            <apex:pageBlockButtons location="bottom" >
                <!-- BC - 201401 - CR-3014 - Added 2 buttons to clone an Implant as Attended or Unattended - START	 -->
                <apex:commandButton action="{!cloneWithDetails_Attended}" value="Clone Attended" disabled="{!disableClone}"/>
                <apex:commandButton action="{!cloneWithDetails_Unattended}" value="Clone Unattended" disabled="{!disableClone}"/>
                <apex:commandButton action="{!cloneWithDetails}" value="Clone" disabled="{!disableClone}" rendered="false"/>
                <!-- BC - 201401 - CR-3014 - Added 2 buttons to clone an Implant as Attended or Unattended - STOP	 -->
                <apex:commandButton action="{!Back}" value="{!BackText}"/>
            </apex:pageBlockButtons>

        </apex:pageBlock>

    </apex:form>

</apex:page>