<!--  
    Page Name : page_TransferDiabetesSegmentation
    Controller name: ctrlExt_TransferDiabetesSegmentation
    Author : Priti Jiaswal
    Description: This page is used to transfer DIB from one account ot other account
-->

<apex:page standardController="DIB_Department__c" id="page1" extensions="ctrlExt_TransferDiabetesSegmentation">
    <apex:pagemessages ></apex:pagemessages>
    <apex:form id="from1">
        <apex:pageBlock id="pb1" >
            <apex:pageBlockSection id="pbs1" columns="1" title="Please select the account where  this Diabetes Segmentation record should be transferred to" collapsible="false">           
                    <apex:pageBlockSectionItem id="pbsI1">
                        <apex:outputLabel value="From Account"/>
                        <apex:outputField value="{!currentDibDeatil.Account__r.name}"/>                        
                    </apex:pageBlockSectionItem>                                   
                    <apex:pageBlockSectionItem id="pbsI2">
                        <apex:outputLabel value="{!$ObjectType.DIB_Department__c.fields.Department_ID__c.label}"/>
                            <apex:outputField value="{!currentDibDeatil.Department_ID__r.name}"/>                        
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem id="pbsI3">
                        <apex:outputLabel value="{!$ObjectType.DIB_Department__c.fields.To_Account__c.label}"/>
                            <apex:inputField value="{!currentDibDeatil.To_Account__c}" required="true"/>                        
                    </apex:pageBlockSectionItem>                    
            </apex:pageBlockSection>
            <apex:pageBlockButtons location="Bottom">
                <apex:commandButton value="Transfer" action="{!transferDiabetes}"/>
                <apex:commandButton action="{!cancel}" value="Cancel"/>
            </apex:pageBlockButtons>        
        </apex:pageBlock>
    </apex:form>
 
</apex:page>