<apex:page showHeader="false" controller="ctrl_Lookup_Popup_RTG_Service">

<head>
	<style type="text/css">	
		body, html{
			width:100%;
			height:100%;
			display:block;
			overflow:auto;
		}
		
		body{
			display: block;
			font-size: 75%;
			background: white url(/img/alohaSkin/lookup_bg.png) repeat-x;
			padding: 0;
			background-repeat: repeat-x;
			background-position: left top;
			font-family: Arial,Helvetica,sans-serif;
			color: #222;
			line-height:170%;
		}
		
		.container{
			margin:5px 10px;
		}
		
		.magIcon{
			background-image: url(/img/sprites/master.png);
			background-position: 0 -1202px;
			width: 32px;
			height: 32px;
			display: inline;
			float: left;
			margin-right: 5px;
			border: 0;
		}
		
		h1 {
			font-size: 1.8em;
			color: #333435;
			margin: 8px 0 4px;
			display: block;
			-webkit-margin-before: 0.67em;
			-webkit-margin-after: 0.67em;
			-webkit-margin-start: 0px;
			-webkit-margin-end: 0px;
			font-weight: bold;
		}
		
		.h2{
			font-weight: bold;
			font-size: 1.2em;
			color: #222;
			margin-left : 5px;
		}
		
		.labelcol{
			margin: 0 5px 0 0;
			color: #4A4A56;
			font-size: 1em;
			font-weight: bold;
		}
		
		/*Visualforce prepends ids with those of a component's parents.  To directly access a component by Id in CSS, use this method*/
		[id*=clearLabel], [id*=nameLabel]{
			text-decoration:underline;
			cursor:pointer;
		}
		
		[id*=clearLabel]:hover, [id*=nameLabel]:hover{
			cursor:hand;
		}
		
		#results{
			width: 100%;
			display:block;
		}
		
		.dTable{
			border: 1px solid #E0E3E5;
			line-height:130%;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			width:100%;
		}
		
		.tHeader{
			background: #F2F3F3;
			border: 1px solid #E0E3E5;
			color: black;
			font-size: .95em;
			padding: 5px 2px 4px 5px;
			border-top: 3px solid #737E96;
		}
		
		.tCol{
			font-size:1em;
			border-collapse: separate;
			border-spacing: 2px;
			border-top: 1px solid #F2F3F3;
			padding:4px;
		}
		
	</style>

	<script type="text/javascript">
	     
        var active_element;  
        var bIsMSIE;
        
        function initiateSelfClosing() {  
          if (navigator.appName == "Microsoft Internet Explorer") {  
            active_element = document.activeElement;  
            document.onfocusout = closeWnd;  
            bIsMSIE = true;  
          }  
          else { window.onblur = closeWnd; }  
        }
        
        function closeWnd() {  
          if (window.opener != null) {  
            if (bIsMSIE && (active_element != document.activeElement)) {  
              active_element = document.activeElement;  
            }  
            else {  
              window.close();  
            }  
          }  
        }  
		
		function selectAndClose(selId, selName){
			var sfdcId = selId.substring(0, 15);
	    	window.opener.{!componentId}setValue(sfdcId, selName);
	    	window.close();
	    }
	 
	</script> 

</head>
<body onload="initiateSelfClosing();" >

<apex:form id="popupForm" >
	
  <div class="container">  	
	
	<div id="results">
	
	 	<apex:outputPanel id="resultPanel" layout="block">
	 	 								
			<apex:repeat value="{!categories}" var="category" >
			
				<apex:outputPanel layout="block" style="width : 48%; display : inline-block; margin-right : 2%" >
							
					<apex:outputLabel value="{!category.categoryName}" styleClass="h2"/>
					
					<br/>
										
					<table class="dTable">

						<apex:repeat value="{!category.categoryProducts}" var="categoryProduct">
																										
							<tr>
								
								<td>
									<apex:outputLabel value="{!categoryProduct.productCFN}" id="nameLabel" onclick="selectAndClose('{!categoryProduct.productId}', '{!JSENCODE(categoryProduct.productName)}');" />
								</td>
								
								<td>{!categoryProduct.productName}</td>
								
							</tr>
						
						</apex:repeat>
					
					</table>
					
					<br/>
					
				</apex:outputPanel>
								
			</apex:repeat>
			
	  	</apex:outputPanel>
	  </div>
  </div>
</apex:form>
</body>

</apex:page>