<apex:page controller="ctrl_Support_Requests" showHeader="false">
	
  	<title>SFDC Support Portal</title>
  
	<style>
	  	body{
  			padding : 15px;
  		}
  	</style>
  		
  	<c:Support_Portal_Header application="Crossworld"/>
	
	<apex:pageMessage summary="Invalid session. You need to login first" escape="false" severity="error" strength="3" rendered="{!NOT(userLoggedIn)}"/>
	
	<apex:form rendered="{!userLoggedIn}">
	  	
	  	<apex:outputPanel layout="block" style="width : 100%; text-align : right">
	  		<apex:outputLabel value="{!session.uInfo.firstName} {!session.uInfo.lastName} ({!session.username})" style="margin-right : 5px;"/>|
	  		<apex:outputLink value="/apex/Support_Login" rendered="{!ISPICKVAL($User.UserType,'Guest')}" style="display : inline;margin-left : 5px;color : red; text-decoration : none;">logout</apex:outputLink>
	  		<apex:outputLink value="/home/home.jsp" rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}" style="display : inline;margin-left : 5px;color : red; text-decoration : none;">logout</apex:outputLink>
	  	</apex:outputPanel>
	  	<br/>
	  	  	
	  	<apex:outputPanel layout="block" style="text-align:left;margin:10px;">
	  		<apex:commandLink value="< Back to main screen" action="{!goBack}" style="text-decoration : none;color:blue" />
	  	</apex:outputPanel>
	  	
	  	<apex:pageMessages />
	  		
	  	<apex:pageBlock title="Enable Mobile App" mode="mainDetail">
	  		
	  		<apex:outputPanel layout="block" style="text-align:center">
  				<apex:commandButton value="Submit" action="{!helper_Request_XW.createEnableAppRequest}" rendered="{!ISBLANK(session.request.Id)}"/>
  				<apex:commandButton action="{!updateRequest}" value="Save" rendered="{!NOT(ISBLANK(session.request.Id))}"/>
  				<apex:commandButton action="{!cancel}" value="Cancel Request" onclick="if(confirm('Are you sure?')==false) return false;"
                	rendered="{!AND(session.uInfo.email==session.request.Requestor_Email__c,session.request.Status__c=='New')}"/>
  			</apex:outputPanel>
	  		
		  	<apex:pageBlockSection columns="1">	
		  		
		  		<apex:outputField value="{!session.request.Status__c}" rendered="{!NOT(ISBLANK(session.request.Id))}"/>
		  		
		  		<apex:outputField value="{!session.request.Assignee__c}" rendered="{!NOT(ISBLANK(session.request.Id))}"/>
		  		
		  		<apex:outputField value="{!session.request.Name}" rendered="{!NOT(ISBLANK(session.request.Id))}"/>
		  		
		  		<apex:pageBlockSectionItem rendered="{!ISBLANK(session.request.Id)}">
		        	<apex:outputLabel value="User" />
		        	<apex:outputPanel layout="block" styleclass="requiredInput">		                
		                <apex:outputPanel layout="block" styleclass="requiredBlock" />
		        		<c:User_Lookup record="{!session.request}" field="Created_User__c" />
		        	</apex:outputPanel>
		  		</apex:pageBlockSectionItem>
		  		
		  		<apex:outputField value="{!session.request.Created_User__r.Name}" rendered="{!NOT(ISBLANK(session.request.Id))}" label="User" />
		  		
		  		<apex:pageBlockSectionItem rendered="{!ISBLANK(session.request.Id)}">
		        	<apex:outputLabel value="{!$ObjectType.Create_User_Request__c.Fields.Mobile_App__c.Label}" />
		        	<apex:outputPanel layout="block" styleclass="requiredInput">
		        		<apex:outputPanel layout="block" styleclass="requiredBlock"  />		  			  		
		  				<apex:inputField value="{!session.request.Mobile_App__c}" />
		  			</apex:outputPanel>
		  		</apex:pageBlockSectionItem>
		  		
		  		<apex:pageBlockSectionItem rendered="{!NOT(ISBLANK(session.request.Id))}">
		        	<apex:outputLabel value="{!$ObjectType.Create_User_Request__c.Fields.Mobile_App__c.Label}" />		        			  			  		
		  			<apex:outputField value="{!session.request.Mobile_App__c}" />		  			
		  		</apex:pageBlockSectionItem>
		        
		        <apex:inputField value="{!session.comment.Comment__c}" rendered="{!AND(NOT(ISBLANK(session.request.Id)), NOT(ISNULL(session.comment)))}" style="width:95%;"/>
		        
		  	</apex:pageBlockSection>
	  		
	  		<apex:pageBlockSection title="Comments" columns="1" rendered="{!AND(NOT(ISNULL(session.comments)), session.comments.size>0)}" collapsible="false">
            	            	            
	            <apex:pageBlockTable value="{!session.comments}" var="comment" >
	            
	            	<apex:column value="{!comment.CreatedDate}" />
	            	<apex:column value="{!comment.From__c}" />
	            	<apex:column value="{!comment.Comment__c}" style="width:70%" />	            	
	            </apex:pageBlockTable>
	            
	        </apex:pageBlockSection>  
	  		
	  	</apex:pageBlock>
  	</apex:form>
</apex:page>