<apex:page standardController="Create_User_Request__c" extensions="ctrlExt_Support_XW_Admin">

    <chatter:feedWithFollowers entityId="{!Create_User_Request__c.Id}"/>
    
    <apex:form rendered="{!Create_User_Request__c.Request_Type__c == 'Enable Mobile App'}">     
        
        <apex:pageBlock title="Enable Mobile App" mode="mainDetail" >
            
            <apex:outputPanel layout="block" style="text-align:center">            
                <apex:commandButton action="{!saveRequest}" value="Save" rendered="{!bIsUpdatable}"/>
                <apex:commandButton action="{!completeRequest}" value="Complete" rendered="{!AND(isAdminUser, Create_User_Request__c.Status__c=='In Progress', NOT(ISBLANK(Create_User_Request__c.Assignee__c)))}"/>
                <apex:commandButton action="{!assignToMe}" value="Assign to me" rendered="{!AND(isAdminUser, Create_User_Request__c.Status__c!='Completed', Create_User_Request__c.Status__c!='Cancelled', Create_User_Request__c.Status__c!='Rejected')}"/>
            </apex:outputPanel>

            
            <apex:pageMessages escape="false"/>
            
            <apex:pageBlockSection columns="1"> 
                                
                <apex:outputField value="{!Create_User_Request__c.Status__c}"/>  
                <apex:inputField value="{!Create_User_Request__c.Sub_Status__c}" rendered="{!AND(bIsUpdatable, bIsAssigned)}" />
                <apex:outputField value="{!Create_User_Request__c.Sub_Status__c}" rendered="{!OR(!bIsUpdatable, !bIsAssigned)}"/>
                <apex:outputField value="{!Create_User_Request__c.Sub_Status_Days__c} " />

                <apex:outputField value="{!Create_User_Request__c.Assignee__c}" rendered="{!NOT(bIsUpdatable)}"/>
                <apex:pageBlockSectionItem rendered="{!bIsUpdatable}">
                    <apex:outputLabel value="{!$ObjectType.Create_User_Request__c.Fields.Assignee__c.Label}" />
                    <apex:selectList value="{!tAdminUserId}" size="1" >
                        <apex:selectOptions value="{!lstSO_AdminUser}" />
                    </apex:selectList>
                </apex:pageBlockSectionItem>

                <apex:inputField value="{!Create_User_Request__c.Time_Spent__c}" rendered="{!AND(bIsUpdatable, bIsAssigned)}" />
                <apex:outputField value="{!Create_User_Request__c.Time_Spent__c}" rendered="{!OR(!bIsUpdatable, !bIsAssigned)}" />
                <apex:outputField value="{!Create_User_Request__c.Application__c}"/>
                <apex:outputField value="{!Create_User_Request__c.Completed_Date__c}" rendered="{!Create_User_Request__c.Status__c == 'Completed'}"/>           
                <apex:outputField value="{!Create_User_Request__c.Name}"/>
                <apex:outputField value="{!Create_User_Request__c.CreatedDate}" />
                <apex:outputField value="{!Create_User_Request__c.Requestor_Name__c}" />                
                <apex:outputField value="{!Create_User_Request__c.Requestor_Email__c}" />                                                                       
                <apex:outputField value="{!Create_User_Request__c.Created_User__c}" label="User"/>                          
                <apex:outputField value="{!Create_User_Request__c.Mobile_App__c}" />

                <br />

                <apex:inputField value="{!Create_User_Request__c.Internal_Notes__c}" rendered="{!bIsUpdatable}" style="width:95%;height:40px"/>
                <apex:outputField value="{!Create_User_Request__c.Internal_Notes__c}" rendered="{!!bIsUpdatable}" style="width:95%;height:40px"/>
                
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
              
    <apex:form rendered="{!Create_User_Request__c.Request_Type__c == 'Generic Service'}">   
        
        <apex:pageBlock title="Generic Service Request" mode="maindetail" >
            
            <apex:outputPanel layout="block" style="text-align:center"> 
                <apex:commandButton action="{!saveRequest}" value="Save" rendered="{!bIsUpdatable}"/>
                <apex:commandButton action="{!completeRequest}" value="Complete" rendered="{!AND(isAdminUser, Create_User_Request__c.Status__c=='In Progress', NOT(ISBLANK(Create_User_Request__c.Assignee__c)))}"/>
                <apex:commandButton action="{!assignToMe}" value="Assign to me" rendered="{!AND(isAdminUser, Create_User_Request__c.Status__c!='Completed', Create_User_Request__c.Status__c!='Cancelled', Create_User_Request__c.Status__c!='Rejected')}"/>
            </apex:outputPanel>
            
            <apex:pageMessages escape="false"/>
            
            <apex:pageBlockSection columns="1" >
                                            
                <apex:outputField value="{!Create_User_Request__c.Status__c}" />
                <apex:inputField value="{!Create_User_Request__c.Sub_Status__c}" rendered="{!AND(bIsUpdatable, bIsAssigned)}" />
                <apex:outputField value="{!Create_User_Request__c.Sub_Status__c}" rendered="{!OR(!bIsUpdatable, !bIsAssigned)}"/>
                <apex:outputField value="{!Create_User_Request__c.Sub_Status_Days__c} " />

                <apex:outputField value="{!Create_User_Request__c.Assignee__c}" rendered="{!NOT(bIsUpdatable)}"/>
                <apex:pageBlockSectionItem rendered="{!bIsUpdatable}">
                    <apex:outputLabel value="{!$ObjectType.Create_User_Request__c.Fields.Assignee__c.Label}" />
                    <apex:selectList value="{!tAdminUserId}" size="1" >
                        <apex:selectOptions value="{!lstSO_AdminUser}" />
                    </apex:selectList>
                </apex:pageBlockSectionItem>

                <apex:inputField value="{!Create_User_Request__c.Time_Spent__c}" rendered="{!AND(bIsUpdatable, bIsAssigned)}" />
                <apex:outputField value="{!Create_User_Request__c.Time_Spent__c}" rendered="{!OR(!bIsUpdatable, !bIsAssigned)}" />
                <apex:outputField value="{!Create_User_Request__c.Application__c}"/>
                <apex:outputField value="{!Create_User_Request__c.Completed_Date__c}" rendered="{!Create_User_Request__c.Status__c == 'Completed'}"/>
                <apex:outputField value="{!Create_User_Request__c.Name}" />
                <apex:outputField value="{!Create_User_Request__c.CreatedDate}" />
                <apex:outputField value="{!Create_User_Request__c.Requestor_Name__c}" />
                <apex:outputField value="{!Create_User_Request__c.Requestor_Email__c}" />                   
                <apex:outputField value="{!Create_User_Request__c.Service_Request_Type__c}"/>                   
                <apex:outputField value="{!Create_User_Request__c.Description_Long__c}" />

                <br />

                <apex:inputField value="{!Create_User_Request__c.Internal_Notes__c}" rendered="{!bIsUpdatable}" style="width:95%;height:40px"/>
                <apex:outputField value="{!Create_User_Request__c.Internal_Notes__c}" rendered="{!!bIsUpdatable}" style="width:95%;height:40px"/>
            
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>                   
         
    <apex:form rendered="{!Create_User_Request__c.Request_Type__c == 'Bug'}">       
        
        <apex:pageBlock title="Bug" mode="maindetail" >
            
            <apex:outputPanel layout="block" style="text-align:center"> 
                <apex:commandButton action="{!saveRequest}" value="Save" rendered="{!bIsUpdatable}"/>
                <apex:commandButton action="{!createCR}" value="Create CR" rendered="{!AND(isAdminUser, Create_User_Request__c.Status__c=='In Progress', NOT(ISBLANK(Create_User_Request__c.Assignee__c)))}" />
                <apex:commandButton action="{!convertToSR}" value="To Service Request" rendered="{!AND(isAdminUser, Create_User_Request__c.Status__c=='In Progress', NOT(ISBLANK(Create_User_Request__c.Assignee__c)))}" />
                <apex:commandButton action="{!reject}" value="Reject" rendered="{!AND(isAdminUser, Create_User_Request__c.Status__c=='In Progress', NOT(ISBLANK(Create_User_Request__c.Assignee__c)))}" />
                <apex:commandButton action="{!assignToMe}" value="Assign to me" rendered="{!AND(isAdminUser, Create_User_Request__c.Status__c!='Accepted', Create_User_Request__c.Status__c!='Cancelled', Create_User_Request__c.Status__c!='Rejected')}"/>                               
            </apex:outputPanel>
            
            <apex:pageMessages escape="false"/>
            
            <apex:pageBlockSection columns="1" >
                                        
                <apex:outputField value="{!Create_User_Request__c.Status__c}" />
                <apex:inputField value="{!Create_User_Request__c.Sub_Status__c}" rendered="{!AND(bIsUpdatable, bIsAssigned)}" />
                <apex:outputField value="{!Create_User_Request__c.Sub_Status__c}" rendered="{!OR(!bIsUpdatable, !bIsAssigned)}"/>
                <apex:outputField value="{!Create_User_Request__c.Sub_Status_Days__c} " />

                <apex:outputField value="{!Create_User_Request__c.Assignee__c}" rendered="{!NOT(bIsUpdatable)}"/>
                <apex:pageBlockSectionItem rendered="{!bIsUpdatable}">
                    <apex:outputLabel value="{!$ObjectType.Create_User_Request__c.Fields.Assignee__c.Label}" />
                    <apex:selectList value="{!tAdminUserId}" size="1" >
                        <apex:selectOptions value="{!lstSO_AdminUser}" />
                    </apex:selectList>
                </apex:pageBlockSectionItem>

                <apex:inputField value="{!Create_User_Request__c.Time_Spent__c}" rendered="{!AND(bIsUpdatable, bIsAssigned)}" />
                <apex:outputField value="{!Create_User_Request__c.Time_Spent__c}" rendered="{!OR(!bIsUpdatable, !bIsAssigned)}" />
                <apex:outputField value="{!Create_User_Request__c.Application__c}"/>
                <apex:outputField value="{!Create_User_Request__c.Completed_Date__c}" rendered="{!Create_User_Request__c.Status__c == 'Accepted'}"/>
                <apex:outputField value="{!Create_User_Request__c.Name}" />
                <apex:outputField value="{!Create_User_Request__c.CreatedDate}" />
                <apex:outputField value="{!Create_User_Request__c.Requestor_Name__c}" />
                <apex:outputField value="{!Create_User_Request__c.Requestor_Email__c}" />                                   
                <apex:outputField value="{!Create_User_Request__c.Description_Long__c}" />
                <apex:outputField value="{!Create_User_Request__c.Created_Change_Request__c}" rendered="{!Create_User_Request__c.Status__c=='Accepted'}"/>

                <br />

                <apex:inputField value="{!Create_User_Request__c.Internal_Notes__c}" rendered="{!bIsUpdatable}" style="width:95%;height:40px"/>
                <apex:outputField value="{!Create_User_Request__c.Internal_Notes__c}" rendered="{!!bIsUpdatable}" style="width:95%;height:40px"/>
            
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>                   
        
    <apex:form rendered="{!Create_User_Request__c.Request_Type__c == 'Change Request'}">          
        
        <apex:pageBlock title="Change Request" mode="maindetail" >
            
            <apex:outputPanel layout="block" style="text-align:center"> 
                <apex:commandButton action="{!saveRequest}" value="Save" rendered="{!bIsUpdatable}"/>
                <apex:commandButton action="{!createCR}" value="Create CR" rendered="{!AND(isAdminUser, Create_User_Request__c.Status__c=='In Progress', NOT(ISBLANK(Create_User_Request__c.Assignee__c)))}" />
                <apex:commandButton action="{!convertToSR}" value="To Service Request" rendered="{!AND(isAdminUser, Create_User_Request__c.Status__c=='In Progress', NOT(ISBLANK(Create_User_Request__c.Assignee__c)))}" />                     
                <apex:commandButton action="{!reject}" value="Reject" rendered="{!AND(isAdminUser, Create_User_Request__c.Status__c=='In Progress', NOT(ISBLANK(Create_User_Request__c.Assignee__c)))}" />
                <apex:commandButton action="{!assignToMe}" value="Assign to me" rendered="{!AND(isAdminUser, Create_User_Request__c.Status__c!='Accepted', Create_User_Request__c.Status__c!='Cancelled', Create_User_Request__c.Status__c!='Rejected')}"/>                               
            </apex:outputPanel>
            
            <apex:pageMessages escape="false"/>
            
            <apex:pageBlockSection columns="1" >
                                            
                <apex:outputField value="{!Create_User_Request__c.Status__c}" />
                <apex:inputField value="{!Create_User_Request__c.Sub_Status__c}" rendered="{!AND(bIsUpdatable, bIsAssigned)}" />
                <apex:outputField value="{!Create_User_Request__c.Sub_Status__c}" rendered="{!OR(!bIsUpdatable, !bIsAssigned)}"/>
                <apex:outputField value="{!Create_User_Request__c.Sub_Status_Days__c} " />

                <apex:outputField value="{!Create_User_Request__c.Assignee__c}" rendered="{!NOT(bIsUpdatable)}"/>
                <apex:pageBlockSectionItem rendered="{!bIsUpdatable}">
                    <apex:outputLabel value="{!$ObjectType.Create_User_Request__c.Fields.Assignee__c.Label}" />
                    <apex:selectList value="{!tAdminUserId}" size="1" >
                        <apex:selectOptions value="{!lstSO_AdminUser}" />
                    </apex:selectList>
                </apex:pageBlockSectionItem>

                <apex:inputField value="{!Create_User_Request__c.Time_Spent__c}" rendered="{!AND(bIsUpdatable, bIsAssigned)}" />
                <apex:outputField value="{!Create_User_Request__c.Time_Spent__c}" rendered="{!OR(!bIsUpdatable, !bIsAssigned)}" />
                <apex:outputField value="{!Create_User_Request__c.Application__c}"/>
                <apex:outputField value="{!Create_User_Request__c.Completed_Date__c}" rendered="{!Create_User_Request__c.Status__c == 'Accepted'}"/>
                <apex:outputField value="{!Create_User_Request__c.Name}" />
                <apex:outputField value="{!Create_User_Request__c.CreatedDate}" />
                <apex:outputField value="{!Create_User_Request__c.Requestor_Name__c}" />
                <apex:outputField value="{!Create_User_Request__c.Requestor_Email__c}" />
                <apex:outputField value="{!Create_User_Request__c.Description_Long__c}" />
                <apex:outputField value="{!Create_User_Request__c.Business_Rationale__c}"/>
                <apex:outputField value="{!Create_User_Request__c.Priority__c}" />              
                <apex:outputField value="{!Create_User_Request__c.CR_Type__c}"/>
                <apex:outputField value="{!Create_User_Request__c.Created_Change_Request__c}" rendered="{!Create_User_Request__c.Status__c=='Accepted'}"/>

                <br />

                <apex:inputField value="{!Create_User_Request__c.Internal_Notes__c}" rendered="{!bIsUpdatable}" style="width:95%;height:40px"/>
                <apex:outputField value="{!Create_User_Request__c.Internal_Notes__c}" rendered="{!!bIsUpdatable}" style="width:95%;height:40px"/>
            
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>                   

    <apex:relatedList list="comments__r" subject="{!Create_User_Request__c.Id}" />
    <apex:relatedList list="CombinedAttachments" subject="{!Create_User_Request__c.Id}" />

    <c:FieldHistory objectName="Create_User_Request__History" title="XW Request History" recordId="{!Create_User_Request__c.Id}" numberOfVisibleRecords="5" recordStep="5" />
    
</apex:page>