.THIS .slds-form-element__label{
    
    font-weight : bold;
    font-size : 15px !important;
}

.THIS .input-date-time lightning-datepicker label{
    display: none !important;
}

.THIS .input-date-time lightning-timepicker label{
    display: none !important;
}

.THIS .filter-container{
    padding: 10px 0 10px 0;
    margin:5px 0 0 15px
}