.THIS .hidden-button button{
    
    display:none;
}

.THIS #pickDate div input{
	color : white;    
    width : 24px;
    padding : 0;
    min-height : 0;
    line-height : normal;
    height : 16px;
    border : none;
    cursor : pointer;
}

.THIS #pickDate div lightning-button-icon{
	
    width: 16px;	 
    right : 0px;
    top : 45%;
}

.THIS .unassigned-pending{
    
    background-color : rgb(255, 143, 143);
}

.THIS .unassigned-clear{
    
    background-color : rgb(176, 245, 195);
}

.THIS .row-even{
    
    background-color : rgb(240, 240, 240);
}

.THIS .row-odd{
    
    background-color : rgb(253, 253, 253);
}

.THIS .row{
    
    border-top-style : solid;
    border-top-width:1px;
}

.THIS .column-half{
    
    border-right-style: dashed;border-right-width: 1px;border-right-color:rgb(181, 181, 181);
    
}

.THIS .column-full{
    
    border-right-style: solid;border-right-width: 1px;border-right-color:rgb(181, 181, 181);
    
}

.THIS .outsite-working-hours{
    
    background-color: rgba(255, 255, 180, .4);
}

.THIS .highlight-mini{
    
    height : 32px;
}

.THIS .highlight-mini svg{
    
    margin : 0;
}