.THIS .pill-item-size,.THIS .input-container {
    width : 100%;
}

.THIS .pill-container{
    margin: .5px;
    color : rgb(191, 121, 46) !important;
}

.THIS .pill-container button{
    right: .3rem !important;
}

.THIS .no-label label{    
    display : none;
}

.THIS .slds-pill__action{    
    padding: 0 1.5rem 0 .5rem !important;
    line-height : 30px;
}
.THIS .input-no-border:focus{
    outline: transparent;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}