.THIS .dayHeader{
    
    font-weight : bold; 
    font-size : 14px; 
    text-align : center;
    display : inline-block;
}

.THIS .member-label{
    
    font-weight : bold;
    font-size : 0.8rem;
    padding-left:5px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.THIS .unassigned{
    
    background-color : rgb(224, 224, 224);
}

.THIS .row-even{
    
    background-color : rgb(240, 240, 240);
}

.THIS .row-odd{
    
    background-color : rgb(253, 253, 253);
}

.THIS .last-row{
    
    border-bottom-style : solid;
    border-bottom-width:1px;
    border-top-style : solid;
    border-top-width:1px;    
}

.THIS .row{
    
    border-top-style : solid;
    border-top-width:1px;
}

.THIS .column-half{
    
    border-right-style: dashed;
    border-right-width: 1px;
    border-right-color:rgb(181, 181, 181);
}

.THIS .column-full{
    
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color:rgb(181, 181, 181);
}

.THIS .column-last-hour{
    
    border-right-style: solid;
    border-right-width: 1px;
}

.THIS .slds-form-element__label{
    
    font-weight : bold;
    font-size : 13px !important;
}

.THIS .field-value{
    
    color : rgb(191, 121, 46) !important;
}

.THIS .outsite-working-hours{
    
    background-color: rgba(255, 255, 180, .6);
}