.THIS .select-version{
    
    width : 50px;
    margin : auto;
}

.THIS .select-version label{
    
    display : none;    
}

.THIS .select-doc-type{
    
    width : 250px;
    margin : auto;
}

.THIS .select-doc-type label{
    
    display : none;
}

.THIS .text-center{
    
    text-align : center;
}

.THIS .doc-row{
    
    height : 40px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: darkgray;
}

.THIS .doc-col{
        
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: darkgray;
}

.THIS .top-button{
    
    height : 35px;
}

.THIS .button-settings button{
    
    border : 0;
}

.THIS .button-settings button lightning-primitive-icon[data-data-rendering-service-uid] {
    
	display : none;
}

.THIS .clickable{
    
    cursor : pointer;
}

.THIS .name-input{
    
    width : 100%;
}

.THIS .name-input label{
    
    display : none;
}

.THIS .progress-bar div{
    
    height : 100%;       
    border-radius: 4px;
}


.THIS .input-name-inline{
    
    margin : 0 !important;
    padding : 0 !important;
    flex-basis : 0 !important;
}

.THIS .input-name-inline label{
    
    display : none;
}

.THIS .input-name-inline div{
    
    padding: 0  !important;
    width: 350px;
}

.THIS .input-file-drop{
    
    width : 100%;
}

.THIS .input-file-drop div{
    
    width : 100%;
}

.THIS .input-file-drop lightning-primitive-file-droppable-zone{
    
    width : 100%;
}

.THIS .input-file-drop slot{
    
    width : 100%;
}

.THIS .input-file-drop-inline lightning-primitive-file-droppable-zone{
    
    width : 100%;
}

.THIS .input-file-drop-inline slot{
    
    width : 100%;
}

.THIS .red-icon svg{
    
    fill : red;
}

.THIS .deleted-version{
    
    text-decoration: line-through;
    color : dark-gray;
}

.THIS .refresh-button{
    
    float : right;
    height : 35px;
    width : 20px;    
}

.THIS .refresh-button svg{
    
    margin : 0;
}